In [1]:
from pyspark.sql import SparkSession, functions as F
from datetime import datetime

spark = SparkSession \
    .builder \
    .master("local[*]")\
    .appName("Exercicio Intro") \
    .getOrCreate()

In [2]:
schema = """id STRING, 
            tituloPincipal STRING, 
            tituloOriginal STRING, 
            anoLancamento INT,
            tempoMinutos INT,
            genero STRING,
            notaMedia DOUBLE,
            numeroVotos INT,
            generoArtista STRING,
            personagem STRING,
            nomeArtista STRING,
            anoNascimento INT,
            anoFalecimento INT,
            profissao STRING,
            titulosMaisConhecidos STRING
            """
df = spark.read.option("encoding", "UTF-8").csv('work', schema=schema, sep="|", header=True)
df.printSchema()
df.show(5)
print(df.count())  # 1045161 registros

root
 |-- id: string (nullable = true)
 |-- tituloPincipal: string (nullable = true)
 |-- tituloOriginal: string (nullable = true)
 |-- anoLancamento: integer (nullable = true)
 |-- tempoMinutos: integer (nullable = true)
 |-- genero: string (nullable = true)
 |-- notaMedia: double (nullable = true)
 |-- numeroVotos: integer (nullable = true)
 |-- generoArtista: string (nullable = true)
 |-- personagem: string (nullable = true)
 |-- nomeArtista: string (nullable = true)
 |-- anoNascimento: integer (nullable = true)
 |-- anoFalecimento: integer (nullable = true)
 |-- profissao: string (nullable = true)
 |-- titulosMaisConhecidos: string (nullable = true)

+---------+--------------+--------------+-------------+------------+-------+---------+-----------+-------------+--------------------+-----------------+-------------+--------------+------------+---------------------+
|       id|tituloPincipal|tituloOriginal|anoLancamento|tempoMinutos| genero|notaMedia|numeroVotos|generoArtista|          personagem|      nomeArtista|anoNascimento|anoFalecimento|   profissao|titulosMaisConhecidos|
+---------+--------------+--------------+-------------+------------+-------+---------+-----------+-------------+--------------------+-----------------+-------------+--------------+------------+---------------------+
|tt0000009|    Miss Jerry|    Miss Jerry|         1894|          45|Romance|      5.3|        200|      actress|Miss Geraldine Ho...|  Blanche Bayliss|         1878|          1951|     actress|            tt0000009|
|tt0000009|    Miss Jerry|    Miss Jerry|         1894|          45|Romance|      5.3|        200|        actor|        Mr. Hamilton|William Courtenay|         1875|          1933|       actor| tt0021535,tt00000...|
|tt0000009|    Miss Jerry|    Miss Jerry|         1894|          45|Romance|      5.3|        200|        actor|Chauncey Depew - ...|   Chauncey Depew|         1834|          1928|actor,writer| tt1076833,tt04908...|
|tt0000502|      Bohemios|      Bohemios|         1905|         100|     \N|      4.2|         14|        actor|                  \N| Antonio del Pozo|         NULL|          NULL|       actor|            tt0000502|
|tt0000502|      Bohemios|      Bohemios|         1905|         100|     \N|      4.2|         14|        actor|                  \N|      El Mochuelo|         NULL|          NULL|       actor|            tt0000502|
+---------+--------------+--------------+-------------+------------+-------+---------+-----------+-------------+--------------------+-----------------+-------------+--------------+------------+---------------------+
only showing top 5 rows

1045161

In [3]:
# Drop de colunas indesejadas
colunas_indesejadas = ['generoArtista', 'anoNascimento',
                       'anoFalecimento', 'profissao', 'titulosMaisConhecidos']
df = df.drop(*colunas_indesejadas)

# Filtrando os gÃªneros desejados e renomeando a coluna com nome errado
df = df.withColumnRenamed('tituloPincipal', 'tituloPrincipal')
df = df.filter(F.col('genero').like('%Sci-Fi%') |
               F.col('genero').like('%Fantasy%'))
df.printSchema()
print(df.count())  # 61569 registros
print(df.select('id').distinct().count())  # Num de IDs distintos = 14303

root
 |-- id: string (nullable = true)
 |-- tituloPrincipal: string (nullable = true)
 |-- tituloOriginal: string (nullable = true)
 |-- anoLancamento: integer (nullable = true)
 |-- tempoMinutos: integer (nullable = true)
 |-- genero: string (nullable = true)
 |-- notaMedia: double (nullable = true)
 |-- numeroVotos: integer (nullable = true)
 |-- personagem: string (nullable = true)
 |-- nomeArtista: string (nullable = true)

61569
14303

In [4]:
# Eliminando registros duplicados e dados incompletos
df_novo = df.dropDuplicates()
df_novo = df_novo.dropna()
df.show()
print(df_novo.count())  # 57520

+---------+--------------------+--------------------+-------------+------------+--------------------+---------+-----------+--------------------+-------------------+
|       id|     tituloPrincipal|      tituloOriginal|anoLancamento|tempoMinutos|              genero|notaMedia|numeroVotos|          personagem|        nomeArtista|
+---------+--------------------+--------------------+-------------+------------+--------------------+---------+-----------+--------------------+-------------------+
|tt0000679|The Fairylogue an...|The Fairylogue an...|         1908|         120|   Adventure,Fantasy|      5.2|         66|The Wizard of Oz Man|      L. Frank Baum|
|tt0000679|The Fairylogue an...|The Fairylogue an...|         1908|         120|   Adventure,Fantasy|      5.2|         66|Nick Chopper - Ti...|   George E. Wilson|
|tt0000679|The Fairylogue an...|The Fairylogue an...|         1908|         120|   Adventure,Fantasy|      5.2|         66|His Majesty the S...|        Frank Burns|
|tt0000679|The Fairylogue an...|The Fairylogue an...|         1908|         120|   Adventure,Fantasy|      5.2|         66|Tik-Tok - the Mac...|  Wallace Illington|
|tt0002130|     Dante's Inferno|           L'Inferno|         1911|          71|Adventure,Drama,F...|      7.0|       2993|Farinata degli Ub...|Giuseppe de Liguoro|
|tt0002130|     Dante's Inferno|           L'Inferno|         1911|          71|Adventure,Drama,F...|      7.0|       2993|    Il conte Ugolino|   Pier Delle Vigne|
|tt0002130|     Dante's Inferno|           L'Inferno|         1911|          71|Adventure,Drama,F...|      7.0|       2993|            Virgilio|    Arturo Pirovano|
|tt0002130|     Dante's Inferno|           L'Inferno|         1911|          71|Adventure,Drama,F...|      7.0|       2993|     Dante Alighieri|     Salvatore Papa|
|tt0003015|Die Insel der Sel...|Die Insel der Sel...|         1913|          49|      Comedy,Fantasy|      4.7|         63|                  \N|     Arthur Kathane|
|tt0003015|Die Insel der Sel...|Die Insel der Sel...|         1913|          49|      Comedy,Fantasy|      4.7|         63|                  \N|      Paul Davidson|
|tt0003015|Die Insel der Sel...|Die Insel der Sel...|         1913|          49|      Comedy,Fantasy|      4.7|         63|                Amor|   Erika De Planque|
|tt0003015|Die Insel der Sel...|Die Insel der Sel...|         1913|          49|      Comedy,Fantasy|      4.7|         63|            Galathea|      Mary Dietrich|
|tt0003015|Die Insel der Sel...|Die Insel der Sel...|         1913|          49|      Comedy,Fantasy|      4.7|         63|   Munteres Maedchen| Gertrud Hackelberg|
|tt0003015|Die Insel der Sel...|Die Insel der Sel...|         1913|          49|      Comedy,Fantasy|      4.7|         63|Gutmuetige VaterM...| Wilhelm Diegelmann|
|tt0003015|Die Insel der Sel...|Die Insel der Sel...|         1913|          49|      Comedy,Fantasy|      4.7|         63|Vertraeumter Juen...|      Ernst Hofmann|
|tt0003419|The Student of Pr...|Der Student von Prag|         1913|          85|Drama,Fantasy,Horror|      6.4|       2171|   Balduin a Student|       Paul Wegener|
|tt0003419|The Student of Pr...|Der Student von Prag|         1913|          85|Drama,Fantasy,Horror|      6.4|       2171|Countess Margit v...|       Grete Berger|
|tt0003419|The Student of Pr...|Der Student von Prag|         1913|          85|Drama,Fantasy,Horror|      6.4|       2171|Scapinelli an Old...|       John Gottowt|
|tt0003419|The Student of Pr...|Der Student von Prag|         1913|          85|Drama,Fantasy,Horror|      6.4|       2171|Lyduschka a Gypsy...|     Lyda Salmonova|
|tt0003772|          Cinderella|          Cinderella|         1914|          52|       Drama,Fantasy|      6.1|       1037|          Stepmother|      Isabel Vernon|
+---------+--------------------+--------------------+-------------+------------+--------------------+---------+-----------+--------------------+-------------------+
only showing top 20 rows

57520

In [5]:
# Substituindo '\N' por valores nulos na coluna 'personagem'
# Esses valores nÃ£o atrapalham a analise entÃ£o nÃ£o serÃ£o deletados
df_novo = df_novo.withColumn(
    'personagem', F.when(F.col('personagem') == '\\N', None)
    .otherwise(F.col('personagem')))

# Amostra de votos menor que 30 Ã© considerada irrelevante (TCL)
df_novo = df_novo.filter(F.col("numeroVotos") >= 30)

In [6]:
# Verificando que nÃ£o hÃ¡ inconsistÃªncias nos dados dos filmes
ids_distintos = df_novo.select('id').distinct().count()
print(ids_distintos)  # Resultado: 11081
ids_distintos = df_novo.select('id', 'tituloPrincipal', 'tituloOriginal',
                               'anoLancamento', 'tempoMinutos', 'genero',
                               'notaMedia', 'numeroVotos').distinct().count()
print(ids_distintos)  # Resultado: 11081

11081
11081

In [7]:
df_novo.orderBy('id').show()

+---------+--------------------+--------------------+-------------+------------+--------------------+---------+-----------+--------------------+-------------------+
|       id|     tituloPrincipal|      tituloOriginal|anoLancamento|tempoMinutos|              genero|notaMedia|numeroVotos|          personagem|        nomeArtista|
+---------+--------------------+--------------------+-------------+------------+--------------------+---------+-----------+--------------------+-------------------+
|tt0000679|The Fairylogue an...|The Fairylogue an...|         1908|         120|   Adventure,Fantasy|      5.2|         66|Tik-Tok - the Mac...|  Wallace Illington|
|tt0000679|The Fairylogue an...|The Fairylogue an...|         1908|         120|   Adventure,Fantasy|      5.2|         66|His Majesty the S...|        Frank Burns|
|tt0000679|The Fairylogue an...|The Fairylogue an...|         1908|         120|   Adventure,Fantasy|      5.2|         66|The Wizard of Oz Man|      L. Frank Baum|
|tt0000679|The Fairylogue an...|The Fairylogue an...|         1908|         120|   Adventure,Fantasy|      5.2|         66|Nick Chopper - Ti...|   George E. Wilson|
|tt0002130|     Dante's Inferno|           L'Inferno|         1911|          71|Adventure,Drama,F...|      7.0|       2993|Farinata degli Ub...|Giuseppe de Liguoro|
|tt0002130|     Dante's Inferno|           L'Inferno|         1911|          71|Adventure,Drama,F...|      7.0|       2993|            Virgilio|    Arturo Pirovano|
|tt0002130|     Dante's Inferno|           L'Inferno|         1911|          71|Adventure,Drama,F...|      7.0|       2993|    Il conte Ugolino|   Pier Delle Vigne|
|tt0002130|     Dante's Inferno|           L'Inferno|         1911|          71|Adventure,Drama,F...|      7.0|       2993|     Dante Alighieri|     Salvatore Papa|
|tt0003015|Die Insel der Sel...|Die Insel der Sel...|         1913|          49|      Comedy,Fantasy|      4.7|         63|                NULL|     Arthur Kathane|
|tt0003015|Die Insel der Sel...|Die Insel der Sel...|         1913|          49|      Comedy,Fantasy|      4.7|         63|Gutmuetige VaterM...| Wilhelm Diegelmann|
|tt0003015|Die Insel der Sel...|Die Insel der Sel...|         1913|          49|      Comedy,Fantasy|      4.7|         63|            Galathea|      Mary Dietrich|
|tt0003015|Die Insel der Sel...|Die Insel der Sel...|         1913|          49|      Comedy,Fantasy|      4.7|         63|Vertraeumter Juen...|      Ernst Hofmann|
|tt0003015|Die Insel der Sel...|Die Insel der Sel...|         1913|          49|      Comedy,Fantasy|      4.7|         63|   Munteres Maedchen| Gertrud Hackelberg|
|tt0003015|Die Insel der Sel...|Die Insel der Sel...|         1913|          49|      Comedy,Fantasy|      4.7|         63|                NULL|      Paul Davidson|
|tt0003015|Die Insel der Sel...|Die Insel der Sel...|         1913|          49|      Comedy,Fantasy|      4.7|         63|                Amor|   Erika De Planque|
|tt0003419|The Student of Pr...|Der Student von Prag|         1913|          85|Drama,Fantasy,Horror|      6.4|       2171|Lyduschka a Gypsy...|     Lyda Salmonova|
|tt0003419|The Student of Pr...|Der Student von Prag|         1913|          85|Drama,Fantasy,Horror|      6.4|       2171|Countess Margit v...|       Grete Berger|
|tt0003419|The Student of Pr...|Der Student von Prag|         1913|          85|Drama,Fantasy,Horror|      6.4|       2171|   Balduin a Student|       Paul Wegener|
|tt0003419|The Student of Pr...|Der Student von Prag|         1913|          85|Drama,Fantasy,Horror|      6.4|       2171|Scapinelli an Old...|       John Gottowt|
|tt0003772|          Cinderella|          Cinderella|         1914|          52|       Drama,Fantasy|      6.1|       1037|          Stepsister|     Lucille Carney|
+---------+--------------------+--------------------+-------------+------------+--------------------+---------+-----------+--------------------+-------------------+
only showing top 20 rows

In [8]:
# Ultima checagagem dos dados
print(df_novo.count()) # 46835
df_novo.printSchema()
df_novo.describe().show()
df_novo.show()

46835
root
 |-- id: string (nullable = true)
 |-- tituloPrincipal: string (nullable = true)
 |-- tituloOriginal: string (nullable = true)
 |-- anoLancamento: integer (nullable = true)
 |-- tempoMinutos: integer (nullable = true)
 |-- genero: string (nullable = true)
 |-- notaMedia: double (nullable = true)
 |-- numeroVotos: integer (nullable = true)
 |-- personagem: string (nullable = true)
 |-- nomeArtista: string (nullable = true)

+-------+---------+---------------+--------------+-----------------+-----------------+--------------------+------------------+------------------+--------------------+--------------------+
|summary|       id|tituloPrincipal|tituloOriginal|    anoLancamento|     tempoMinutos|              genero|         notaMedia|       numeroVotos|          personagem|         nomeArtista|
+-------+---------+---------------+--------------+-----------------+-----------------+--------------------+------------------+------------------+--------------------+--------------------+
|  count|    46835|          46835|         46835|            46835|            46835|               46835|             46835|             46835|               44006|               46835|
|   mean|     NULL|       Infinity|      Infinity| 1997.50009608199|95.36094800896765|                NULL| 5.474929006085196|18815.862367887265|                 NaN|                NULL|
| stddev|     NULL|            NaN|           NaN|22.11618334656788|24.40096735543913|                NULL|1.3912961096830745| 91909.96334551008|                 NaN|                NULL|
|    min|tt0000679|          $9.99|         $9.99|             1908|               28|Action,Adventure,...|               1.1|                30|               #3774|'Baby' Carmen De Rue|
|    max|tt9907782|       Ãrbita 9|    ÃÃ§Ã¼ncÃ¼ GÃ¶z|             2022|              999|      Sci-Fi,Western|               9.9|           2339961|ÃºdrzbÃ¡r Frantisek...|          Ãnsal Emre|
+-------+---------+---------------+--------------+-----------------+-----------------+--------------------+------------------+------------------+--------------------+--------------------+

+---------+--------------------+--------------------+-------------+------------+--------------------+---------+-----------+--------------------+--------------------+
|       id|     tituloPrincipal|      tituloOriginal|anoLancamento|tempoMinutos|              genero|notaMedia|numeroVotos|          personagem|         nomeArtista|
+---------+--------------------+--------------------+-------------+------------+--------------------+---------+-----------+--------------------+--------------------+
|tt0015175|Die Nibelungen: S...|Die Nibelungen: S...|         1924|         143|Adventure,Drama,F...|      8.1|       6008|           Kriemhild|     Margarete SchÃ¶n|
|tt0016237|       The Power God|       The Power God|         1925|         300|Action,Adventure,...|      6.1|         53|         Weston Dore|    Al Ernest Garcia|
|tt0026983|                 She|                 She|         1935|         101|Adventure,Fantasy...|      6.4|       1751|        Horace Holly|         Nigel Bruce|
|tt0027338|   The Macabre Trunk|     El baÃºl macabro|         1936|          79|Horror,Mystery,Sc...|      5.7|         49|Dr. Armando del V...|        RenÃ© Cardona|
|tt0029201|The Man Who Could...|The Man Who Could...|         1936|          82|Comedy,Family,Fan...|      7.0|       1457|  Colonel Winstanley|    Ralph Richardson|
|tt0035703|    Cabin in the Sky|    Cabin in the Sky|         1943|          98|Comedy,Drama,Fantasy|      7.1|       3102|       Georgia Brown|          Lena Horne|
|tt0015224|           Peter Pan|           Peter Pan|         1924|         105|Adventure,Family,...|      7.1|       1105|        Nana the Dog|          George Ali|
|tt0006333|20,000 Leagues Un...|20,000 Leagues Un...|         1916|          85|Action,Adventure,...|      6.1|       1835|       Prof. Aronnax|          Dan Hanlon|
|tt0010203|       The Halfbreed|            Halbblut|         1919|          60|             Fantasy|      7.2|         78|                NULL|Carl Gerhard Schr...|
|tt0014577| Der verlorene Schuh| Der verlorene Schuh|         1923|          50|             Fantasy|      6.3|         44|        Anselm Franz|       Paul Hartmann|
|tt0021814|             Dracula|             Dracula|         1931|          75|Drama,Fantasy,Horror|      7.4|      53792|                Mina|      Helen Chandler|
|tt0026970|       The Scoundrel|       The Scoundrel|         1935|          76|       Drama,Fantasy|      6.2|        382|          Cora Moore|        Julie Haydon|
|tt0029162|        Lost Horizon|        Lost Horizon|         1937|         132|Adventure,Drama,F...|      7.6|      13433|       George Conway|         John Howard|
|tt0030092|          The Dybbuk|           Der Dibuk|         1937|         108|Drama,Fantasy,Mus...|      6.5|        666|Meszulach - the m...|       Ajzyk Samberg|
|tt0025084|    End of the World|    End of the World|         1931|         105|              Sci-Fi|      5.3|         82|               Extra|          Abel Gance|
|tt0032637| The Invisible Woman| The Invisible Woman|         1940|          72|Comedy,Romance,Sc...|      6.0|       3005|       Kitty Carroll|      Virginia Bruce|
|tt0010969|    Missing Husbands|         L'Atlantide|         1921|         172|Adventure,Fantasy...|      6.7|        399|   Lt. de Saint-Avit|    Georges Melchior|
|tt0013688| The Toll of the Sea| The Toll of the Sea|         1922|          54|Drama,Family,Fantasy|      6.6|        834|        Allen Carver|      Kenneth Harlan|
|tt0015053|  Laughing at Danger|  Laughing at Danger|         1924|          60|Action,Comedy,Sci-Fi|      6.1|         43|      Darwin Kershaw| Stanhope Wheatcroft|
|tt0017033|A Kiss for Cinder...|A Kiss for Cinder...|         1925|         105|Drama,Family,Fantasy|      6.9|        100|   Cinderella (Jane)|       Betty Bronson|
+---------+--------------------+--------------------+-------------+------------+--------------------+---------+-----------+--------------------+--------------------+
only showing top 20 rows

In [9]:
teste = df_novo.groupBy('nomeArtista').count().orderBy(F.col('count').desc())
teste.show()

+--------------------+-----+
|         nomeArtista|count|
+--------------------+-----+
|     Lance Henriksen|   28|
|      John Carradine|   28|
|       GermÃ¡n ValdÃ©s|   22|
|     Christopher Lee|   21|
|       Boris Karloff|   20|
|        Tom Sizemore|   19|
|        Nicolas Cage|   19|
|       Peter Cushing|   19|
|        Eric Roberts|   19|
|        David Warner|   18|
|      Lon Chaney Jr.|   17|
|Arnold Schwarzene...|   17|
|      Tadanobu Asano|   16|
|   Samuel L. Jackson|   16|
| Christopher Lambert|   16|
|    Malcolm McDowell|   16|
| Tony Chiu-Wai Leung|   15|
|    Michael Ironside|   15|
|         Johnny Depp|   15|
|        Keanu Reeves|   14|
+--------------------+-----+
only showing top 20 rows

In [10]:
teste.filter(F.col('nomeArtista').like('%Downey%')).show()

+-----------------+-----+
|      nomeArtista|count|
+-----------------+-----+
|Robert Downey Jr.|   11|
|    Thomas Downey|    3|
|Robert Downey Sr.|    1|
|    Javier Downey|    1|
+-----------------+-----+