In [1]:
from pyspark.sql import SparkSession, functions as F

spark = SparkSession \
    .builder \
    .master("local[*]")\
    .appName("Processamento Camada Refined") \
    .getOrCreate()

output_path = 'Refined/'

df_tmdb = spark.read.parquet('tmdb')
df_imdb = spark.read.parquet('Movie')

In [2]:
df_tmdb.printSchema()
df_tmdb.show()
df_imdb.printSchema()
df_imdb.show()

root
 |-- budget: long (nullable = true)
 |-- id: long (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- popularity: double (nullable = true)
 |-- release_date: date (nullable = true)
 |-- revenue: long (nullable = true)
 |-- runtime: long (nullable = true)
 |-- title: string (nullable = true)
 |-- vote_average: double (nullable = true)
 |-- vote_count: long (nullable = true)
 |-- extraction_date: date (nullable = true)

+---------+------+---------+----------+------------+---------+-------+--------------------+------------+----------+---------------+
|   budget|    id|  imdb_id|popularity|release_date|  revenue|runtime|               title|vote_average|vote_count|extraction_date|
+---------+------+---------+----------+------------+---------+-------+--------------------+------------+----------+---------------+
| 10000000|286567|tt1472584|    16.302|  2016-10-14|  6272403|     92|           Max Steel|         5.6|       741|     2024-03-27|
| 18000000|370964|tt4057376|    26.295|  2015-12-03| 10495305|    110|         I Am Dragon|       7.182|       351|     2024-03-27|
|  6500000| 40729|tt0099636|     5.843|  1990-05-24|  2032973|     93|             Gate II|         5.4|        85|     2024-03-27|
| 45000000| 10483|tt0452608|    38.516|  2008-08-22| 76000000|    105|          Death Race|         6.3|      3583|     2024-03-27|
|  5900000| 97519|tt0070337|     7.124|  1973-03-14|  3800000|    147|        Lost Horizon|         5.5|        35|     2024-03-27|
| 42000000|338762|tt1634106|    32.097|  2020-03-05| 39861118|    110|           Bloodshot|         6.7|      4800|     2024-03-27|
|180000000|   411|tt0363771|   123.825|  2005-12-07|745013115|    143|The Chronicles of...|         7.1|     10191|     2024-03-27|
| 40000000| 34851|tt1424381|    41.701|  2010-07-03|127200000|    107|           Predators|         6.2|      3875|     2024-03-27|
| 10000000| 42684|tt1564585|    25.294|  2010-11-11| 66984888|     92|             Skyline|         5.0|      1545|     2024-03-27|
|150000000|  7978|tt0780653|    22.257|  2010-02-10|140700000|    102|         The Wolfman|         5.9|      1901|     2024-03-27|
|150000000| 57165|tt1646987|    41.427|  2012-03-28|302000000|     99| Wrath of the Titans|         5.7|      4014|     2024-03-27|
|163000000| 49849|tt0409847|    30.742|  2011-07-29|174822325|    119|    Cowboys & Aliens|         5.6|      4848|     2024-03-27|
|  6400000|   218|tt0088247|    70.562|  1984-10-26| 78371200|    108|      The Terminator|         7.7|     12356|     2024-03-27|
| 45000000|  7737|tt0432021|     9.822|  2007-09-20|148400000|     94|Resident Evil: Ex...|         6.3|      3933|     2024-03-27|
| 12000000| 13812|tt1082868|    13.713|  2008-10-10| 40855419|     89|          Quarantine|       5.751|      1187|     2024-03-27|
|  1200000| 16220|tt0076929|     9.783|  1977-02-09|  9000000|     80|             Wizards|         6.1|       186|     2024-03-27|
|  5000000| 15762|tt0091630|    15.928|  1986-08-21|   591366|     88| Night of the Creeps|         6.7|       463|     2024-03-27|
|   220000|  8072|tt0058898|    16.079|  1965-05-05|    46585|     99|          Alphaville|         7.0|       496|     2024-03-27|
| 24500000| 11976|tt0089469|    26.565|  1985-08-28| 15502112|     94|              Legend|         6.2|      1141|     2024-03-27|
|  5000000| 64720|tt1675192|    14.202|  2011-09-30|  3099314|    120|        Take Shelter|         7.0|      1653|     2024-03-27|
+---------+------+---------+----------+------------+---------+-------+--------------------+------------+----------+---------------+
only showing top 20 rows

root
 |-- id: string (nullable = true)
 |-- tituloPrincipal: string (nullable = true)
 |-- tituloOriginal: string (nullable = true)
 |-- anoLancamento: integer (nullable = true)
 |-- tempoMinutos: integer (nullable = true)
 |-- genero: string (nullable = true)
 |-- notaMedia: double (nullable = true)
 |-- numeroVotos: integer (nullable = true)
 |-- personagem: string (nullable = true)
 |-- nomeArtista: string (nullable = true)

+---------+--------------------+--------------------+-------------+------------+--------------------+---------+-----------+--------------------+-----------------+
|       id|     tituloPrincipal|      tituloOriginal|anoLancamento|tempoMinutos|              genero|notaMedia|numeroVotos|          personagem|      nomeArtista|
+---------+--------------------+--------------------+-------------+------------+--------------------+---------+-----------+--------------------+-----------------+
|tt0012494|             Destiny|        Der müde Tod|         1921|          97|Drama,Fantasy,Horror|      7.6|       6191|  DeathDer TodEl Mot| Bernhard Goetzke|
|tt0019611|           Zvenigora|           Zvenigora|         1927|          68|       Drama,Fantasy|      7.1|       1064|      GrandpaGeneral| Nikolai Nademsky|
|tt0032475|Flash Gordon Conq...|Flash Gordon Conq...|         1940|         220|Action,Adventure,...|      6.7|       1428|        Emperor Ming|Charles Middleton|
|tt0033414| The Body Disappears| The Body Disappears|         1941|          72|Comedy,Romance,Sc...|      6.2|        425|      George Appleby| Herbert Anderson|
|tt0005615|   Life Without Soul|   Life Without Soul|         1915|          70| Drama,Horror,Sci-Fi|      6.8|         55|    Frawley's Father|George De Carlton|
|tt0006820| Homunculus, 1. Teil| Homunculus, 1. Teil|         1916|          69|       Horror,Sci-Fi|      5.9|        101|          Dr. Hansen|      Albert Paul|
|tt0010953|               Power|Algol - Tragödie ...|         1920|          99|      Fantasy,Sci-Fi|      6.3|        203|               Algol|     John Gottowt|
|tt0011241|The Great Air Rob...|The Great Air Rob...|         1919|          60|    Adventure,Sci-Fi|      3.4|         31|  Chester Van Arland|       Ray Ripley|
|tt0027940|The Man in the Mi...|The Man in the Mi...|         1936|          71|      Comedy,Fantasy|      6.1|        142|         Helen Dilke|  Genevieve Tobin|
|tt0031851|The Return of Doc...|The Return of Doc...|         1939|          62|Horror,Mystery,Sc...|      5.7|       2332|      Michael Rhodes|    Dennis Morgan|
|tt0035899|Frankenstein Meet...|Frankenstein Meet...|         1943|          74|Fantasy,Horror,Sc...|      6.4|       9196|             Monster|      Bela Lugosi|
|tt0036697|     Captain America|     Captain America|         1944|         244|Action,Adventure,...|      5.3|       1022|       Gail Richards|       Lorna Gray|
|tt0004134|          Hypocrites|          Hypocrites|         1915|          54|       Drama,Fantasy|      6.5|        626|           The Queen| Adele Farrington|
|tt0021864|    End of the World|     La fin du monde|         1931|         105|        Drama,Sci-Fi|      6.1|        313|        Mme. Novalic|  Jeanne Brindeau|
|tt0026714|A Midsummer Night...|A Midsummer Night...|         1935|         133|Comedy,Fantasy,Ro...|      6.8|       3591| Bottom - the Weaver|     James Cagney|
|tt0033190|           Turnabout|           Turnabout|         1940|          83|Comedy,Fantasy,Ro...|      6.2|        728|       Sally Willows|    Carole Landis|
|tt0033553|Dr. Jekyll and Mr...|Dr. Jekyll and Mr...|         1941|         113| Drama,Horror,Sci-Fi|      6.8|       9219|Dr. Harry JekyllM...|    Spencer Tracy|
|tt0036027|I Walked with a Z...|I Walked with a Z...|         1943|          69|Drama,Fantasy,Horror|      7.0|      12702|        Paul Holland|       Tom Conway|
|tt0006819|Hoffmanns Erzählu...|Hoffmanns Erzählu...|         1916|          67|             Fantasy|      6.1|         55|   E. T. A. Hoffmann|Erich Kaiser-Titz|
|tt0007702|Das Bildnis des D...|Das Bildnis des D...|         1917|          80|    Fantasy,Thriller|      6.9|         33| Herzog Henry Wotton|  Ernst Pittschau|
+---------+--------------------+--------------------+-------------+------------+--------------------+---------+-----------+--------------------+-----------------+
only showing top 20 rows

In [3]:
df_imdb = df_imdb.withColumn("id_genre", 
                           F.when(df_imdb["genero"].like("%Fantasy%") & ~df_imdb["genero"].like("%Sci-Fi%"), 1)
                           .when(df_imdb["genero"].like("%Sci-Fi%") & ~df_imdb["genero"].like("%Fantasy%"), 2)
                           .when(df_imdb["genero"].like("%Fantasy%") & df_imdb["genero"].like("%Sci-Fi%"), 3)
                           .otherwise(None))
df_imdb.show()

+---------+--------------------+--------------------+-------------+------------+--------------------+---------+-----------+--------------------+-----------------+--------+
|       id|     tituloPrincipal|      tituloOriginal|anoLancamento|tempoMinutos|              genero|notaMedia|numeroVotos|          personagem|      nomeArtista|id_genre|
+---------+--------------------+--------------------+-------------+------------+--------------------+---------+-----------+--------------------+-----------------+--------+
|tt0012494|             Destiny|        Der müde Tod|         1921|          97|Drama,Fantasy,Horror|      7.6|       6191|  DeathDer TodEl Mot| Bernhard Goetzke|       1|
|tt0019611|           Zvenigora|           Zvenigora|         1927|          68|       Drama,Fantasy|      7.1|       1064|      GrandpaGeneral| Nikolai Nademsky|       1|
|tt0032475|Flash Gordon Conq...|Flash Gordon Conq...|         1940|         220|Action,Adventure,...|      6.7|       1428|        Emperor Ming|Charles Middleton|       2|
|tt0033414| The Body Disappears| The Body Disappears|         1941|          72|Comedy,Romance,Sc...|      6.2|        425|      George Appleby| Herbert Anderson|       2|
|tt0005615|   Life Without Soul|   Life Without Soul|         1915|          70| Drama,Horror,Sci-Fi|      6.8|         55|    Frawley's Father|George De Carlton|       2|
|tt0006820| Homunculus, 1. Teil| Homunculus, 1. Teil|         1916|          69|       Horror,Sci-Fi|      5.9|        101|          Dr. Hansen|      Albert Paul|       2|
|tt0010953|               Power|Algol - Tragödie ...|         1920|          99|      Fantasy,Sci-Fi|      6.3|        203|               Algol|     John Gottowt|       3|
|tt0011241|The Great Air Rob...|The Great Air Rob...|         1919|          60|    Adventure,Sci-Fi|      3.4|         31|  Chester Van Arland|       Ray Ripley|       2|
|tt0027940|The Man in the Mi...|The Man in the Mi...|         1936|          71|      Comedy,Fantasy|      6.1|        142|         Helen Dilke|  Genevieve Tobin|       1|
|tt0031851|The Return of Doc...|The Return of Doc...|         1939|          62|Horror,Mystery,Sc...|      5.7|       2332|      Michael Rhodes|    Dennis Morgan|       2|
|tt0035899|Frankenstein Meet...|Frankenstein Meet...|         1943|          74|Fantasy,Horror,Sc...|      6.4|       9196|             Monster|      Bela Lugosi|       3|
|tt0036697|     Captain America|     Captain America|         1944|         244|Action,Adventure,...|      5.3|       1022|       Gail Richards|       Lorna Gray|       2|
|tt0004134|          Hypocrites|          Hypocrites|         1915|          54|       Drama,Fantasy|      6.5|        626|           The Queen| Adele Farrington|       1|
|tt0021864|    End of the World|     La fin du monde|         1931|         105|        Drama,Sci-Fi|      6.1|        313|        Mme. Novalic|  Jeanne Brindeau|       2|
|tt0026714|A Midsummer Night...|A Midsummer Night...|         1935|         133|Comedy,Fantasy,Ro...|      6.8|       3591| Bottom - the Weaver|     James Cagney|       1|
|tt0033190|           Turnabout|           Turnabout|         1940|          83|Comedy,Fantasy,Ro...|      6.2|        728|       Sally Willows|    Carole Landis|       1|
|tt0033553|Dr. Jekyll and Mr...|Dr. Jekyll and Mr...|         1941|         113| Drama,Horror,Sci-Fi|      6.8|       9219|Dr. Harry JekyllM...|    Spencer Tracy|       2|
|tt0036027|I Walked with a Z...|I Walked with a Z...|         1943|          69|Drama,Fantasy,Horror|      7.0|      12702|        Paul Holland|       Tom Conway|       1|
|tt0006819|Hoffmanns Erzählu...|Hoffmanns Erzählu...|         1916|          67|             Fantasy|      6.1|         55|   E. T. A. Hoffmann|Erich Kaiser-Titz|       1|
|tt0007702|Das Bildnis des D...|Das Bildnis des D...|         1917|          80|    Fantasy,Thriller|      6.9|         33| Herzog Henry Wotton|  Ernst Pittschau|       1|
+---------+--------------------+--------------------+-------------+------------+--------------------+---------+-----------+--------------------+-----------------+--------+
only showing top 20 rows

In [4]:
df_tmdb = df_tmdb.withColumnRenamed('id', 'tmdb_id')
df_geral = df_imdb.join(df_tmdb, df_imdb.id == df_tmdb.imdb_id, 'inner')
df_geral.createOrReplaceTempView('db_geral')
df_tmdb.printSchema()
df_imdb.printSchema()
df_geral.printSchema()
df_geral.describe().show(truncate=False)

root
 |-- budget: long (nullable = true)
 |-- tmdb_id: long (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- popularity: double (nullable = true)
 |-- release_date: date (nullable = true)
 |-- revenue: long (nullable = true)
 |-- runtime: long (nullable = true)
 |-- title: string (nullable = true)
 |-- vote_average: double (nullable = true)
 |-- vote_count: long (nullable = true)
 |-- extraction_date: date (nullable = true)

root
 |-- id: string (nullable = true)
 |-- tituloPrincipal: string (nullable = true)
 |-- tituloOriginal: string (nullable = true)
 |-- anoLancamento: integer (nullable = true)
 |-- tempoMinutos: integer (nullable = true)
 |-- genero: string (nullable = true)
 |-- notaMedia: double (nullable = true)
 |-- numeroVotos: integer (nullable = true)
 |-- personagem: string (nullable = true)
 |-- nomeArtista: string (nullable = true)
 |-- id_genre: integer (nullable = true)

root
 |-- id: string (nullable = true)
 |-- tituloPrincipal: string (nullable = true)
 |-- tituloOriginal: string (nullable = true)
 |-- anoLancamento: integer (nullable = true)
 |-- tempoMinutos: integer (nullable = true)
 |-- genero: string (nullable = true)
 |-- notaMedia: double (nullable = true)
 |-- numeroVotos: integer (nullable = true)
 |-- personagem: string (nullable = true)
 |-- nomeArtista: string (nullable = true)
 |-- id_genre: integer (nullable = true)
 |-- budget: long (nullable = true)
 |-- tmdb_id: long (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- popularity: double (nullable = true)
 |-- release_date: date (nullable = true)
 |-- revenue: long (nullable = true)
 |-- runtime: long (nullable = true)
 |-- title: string (nullable = true)
 |-- vote_average: double (nullable = true)
 |-- vote_count: long (nullable = true)
 |-- extraction_date: date (nullable = true)

+-------+---------+----------------------------------+----------------------------------+------------------+------------------+------------------------+------------------+------------------+------------+-------------------+------------------+--------------------+------------------+---------+------------------+--------------------+------------------+----------------------------------+------------------+-----------------+
|summary|id       |tituloPrincipal                   |tituloOriginal                    |anoLancamento     |tempoMinutos      |genero                  |notaMedia         |numeroVotos       |personagem  |nomeArtista        |id_genre          |budget              |tmdb_id           |imdb_id  |popularity        |revenue             |runtime           |title                             |vote_average      |vote_count       |
+-------+---------+----------------------------------+----------------------------------+------------------+------------------+------------------------+------------------+------------------+------------+-------------------+------------------+--------------------+------------------+---------+------------------+--------------------+------------------+----------------------------------+------------------+-----------------+
|count  |5285     |5285                              |5285                              |5285              |5285              |5285                    |5285              |5285              |5277        |5285               |5285              |5285                |5285              |5285     |5285              |5285                |5285              |5285                              |5285              |5285             |
|mean   |NULL     |1367.0                            |1367.0                            |2000.8325449385052|107.93207190160832|NULL                    |6.159205298013239 |150921.10690633868|NaN         |NULL               |1.5048249763481552|4.5481265934531696E7|106278.43405865658|NULL     |30.521709366130573|1.3528434381948912E8|107.92734153263955|1495.6                            |6.277578807947021 |3275.907284768212|
|stddev |NULL     |855.097967096948                  |855.097967096948                  |16.196423951050345|18.55904205443199 |NULL                    |1.1010270360498546|233554.91577328794|NULL        |NULL               |0.5207879524600585|5.842451882429215E7 |174557.22366623292|NULL     |36.67398791473249 |2.6149953490746805E8|18.5230797946053  |804.2952063436462                 |0.8759503668144379|4852.269516810838|
|min    |tt0006333|(T)Raumschiff Surprise - Periode 1|(T)Raumschiff Surprise - Periode 1|1916              |65                |Action,Adventure,Fantasy|1.9               |31                |'Doc' Smith |'Weird Al' Yankovic|1                 |5                   |11                |tt0006333|1.113             |1                   |66                |(T)Raumschiff Surprise - Periode 1|2.588             |31               |
|max    |tt9844322|Æon Flux                          |Æon Flux                          |2022              |189               |Sci-Fi,Thriller         |8.8               |2339961           |Ágata Muller|Özkan Ugur         |3                 |379000000           |951546            |tt9844322|696.014           |2923706026          |189               |Æon Flux                          |8.507             |35449            |
+-------+---------+----------------------------------+----------------------------------+------------------+------------------+------------------------+------------------+------------------+------------+-------------------+------------------+--------------------+------------------+---------+------------------+--------------------+------------------+----------------------------------+------------------+-----------------+

In [5]:
spark.sql('SELECT DISTINCT id FROM db_geral').count() # 1316

1316

In [6]:
# Criando tabela de artistas
df_actors = df_imdb.groupBy('nomeArtista').count()
df_actors.orderBy(F.col('count').desc()).show()
df_actors.describe().show()

+--------------------+-----+
|         nomeArtista|count|
+--------------------+-----+
|     Lance Henriksen|   28|
|      John Carradine|   28|
|       Germán Valdés|   22|
|     Christopher Lee|   21|
|       Boris Karloff|   20|
|        Tom Sizemore|   19|
|        Nicolas Cage|   19|
|       Peter Cushing|   19|
|        Eric Roberts|   19|
|        David Warner|   18|
|      Lon Chaney Jr.|   17|
|Arnold Schwarzene...|   17|
|      Tadanobu Asano|   16|
|   Samuel L. Jackson|   16|
| Christopher Lambert|   16|
|    Malcolm McDowell|   16|
|    Michael Ironside|   15|
| Tony Chiu-Wai Leung|   15|
|         Johnny Depp|   15|
|       Tilda Swinton|   14|
+--------------------+-----+
only showing top 20 rows

+-------+--------------------+------------------+
|summary|         nomeArtista|             count|
+-------+--------------------+------------------+
|  count|               34664|             34664|
|   mean|                NULL|1.3511135471959381|
| stddev|                NULL|1.0601939008675285|
|    min|'Baby' Carmen De Rue|                 1|
|    max|          Ünsal Emre|                28|
+-------+--------------------+------------------+

In [7]:
df_actors = df_actors.withColumn("id", F.monotonically_increasing_id() + 1)
df_actors = df_actors.withColumnRenamed('nomeArtista', 'name')
df_actors = df_actors.withColumnRenamed('count', 'num_movies')

df_actors = df_actors.select('id', *df_actors.columns[:-1])

df_actors.describe().show()
df_actors.show()

# df_actors.write.parquet(output_path + 'dim_actor')

+-------+-----------------+--------------------+------------------+
|summary|               id|                name|        num_movies|
+-------+-----------------+--------------------+------------------+
|  count|            34664|               34664|             34664|
|   mean|          17332.5|                NULL|1.3511135471959381|
| stddev|10006.77920212093|                NULL|1.0601939008675285|
|    min|                1|'Baby' Carmen De Rue|                 1|
|    max|            34664|          Ünsal Emre|                28|
+-------+-----------------+--------------------+------------------+

+---+------------------+----------+
| id|              name|num_movies|
+---+------------------+----------+
|  1|  Adele Farrington|         1|
|  2|      Nestor Paiva|         3|
|  3|      Gene Sheldon|         1|
|  4|       Julia Calda|         1|
|  5| Arturo de Córdova|         1|
|  6|    Philip Casnoff|         1|
|  7|        Aldo Monti|         3|
|  8| Geraldine Chaplin|         7|
|  9|    Masao Kusakari|         2|
| 10|  Bradford Dillman|         6|
| 11|      David Wicker|         1|
| 12|   Michel Boujenah|         2|
| 13|       Karel Lamac|         1|
| 14|       Shahu Modak|         1|
| 15|  Alexandra Powers|         1|
| 16|Jawar N. Sitaraman|         1|
| 17|  Masakatsu Funaki|         2|
| 18|         Götz Otto|         5|
| 19| Richard Griffiths|         1|
| 20|         Dhulipala|         4|
+---+------------------+----------+
only showing top 20 rows

In [8]:
# Criando tabela de datas
df_dates = df_tmdb.select(df_tmdb.release_date.alias('date')).distinct().orderBy('release_date')
df_dates.show()

+----------+
|      date|
+----------+
|1916-12-24|
|1924-03-18|
|1927-02-06|
|1931-02-12|
|1931-11-21|
|1931-12-24|
|1933-03-15|
|1935-04-20|
|1939-08-15|
|1940-11-13|
|1940-12-28|
|1942-12-05|
|1943-04-09|
|1943-12-24|
|1945-08-13|
|1946-12-20|
|1948-06-15|
|1949-07-27|
|1950-02-22|
|1950-06-27|
+----------+
only showing top 20 rows

In [9]:
df_dates = df_dates.withColumn('year', F.year('date'))
df_dates = df_dates.withColumn('month', F.month('date'))
df_dates = df_dates.withColumn('day', F.dayofmonth('date'))
df_dates = df_dates.withColumn('quarter', 
                               F.when(F.month('date').isin([1, 2, 3]), 'Q1')
                               .when(F.month('date').isin([4, 5, 6]), 'Q2')
                               .when(F.month('date').isin([7, 8, 9]), 'Q3')
                               .otherwise('Q4'))
df_dates = df_dates.withColumn('id', F.monotonically_increasing_id() + 1)

df_dates = df_dates.select('id', *df_dates.columns[:-1])

df_dates.printSchema()
df_dates.describe().show()
df_dates.show()


# df_dates.write.parquet(output_path + 'dim_date')

root
 |-- id: long (nullable = false)
 |-- date: date (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- quarter: string (nullable = false)

+-------+------------------+------------------+------------------+-----------------+-------+
|summary|                id|              year|             month|              day|quarter|
+-------+------------------+------------------+------------------+-----------------+-------+
|  count|              1232|              1232|              1232|             1232|   1232|
|   mean|             616.5|2000.6103896103896| 6.925324675324675|15.53814935064935|   NULL|
| stddev|355.79207411070865|16.546686701281544|3.3437174949039803|8.619033543302185|   NULL|
|    min|                 1|              1916|                 1|                1|     Q1|
|    max|              1232|              2022|                12|               31|     Q4|
+-------+------------------+------------------+------------------+-----------------+-------+

+---+----------+----+-----+---+-------+
| id|      date|year|month|day|quarter|
+---+----------+----+-----+---+-------+
|  1|1916-12-24|1916|   12| 24|     Q4|
|  2|1924-03-18|1924|    3| 18|     Q1|
|  3|1927-02-06|1927|    2|  6|     Q1|
|  4|1931-02-12|1931|    2| 12|     Q1|
|  5|1931-11-21|1931|   11| 21|     Q4|
|  6|1931-12-24|1931|   12| 24|     Q4|
|  7|1933-03-15|1933|    3| 15|     Q1|
|  8|1935-04-20|1935|    4| 20|     Q2|
|  9|1939-08-15|1939|    8| 15|     Q3|
| 10|1940-11-13|1940|   11| 13|     Q4|
| 11|1940-12-28|1940|   12| 28|     Q4|
| 12|1942-12-05|1942|   12|  5|     Q4|
| 13|1943-04-09|1943|    4|  9|     Q2|
| 14|1943-12-24|1943|   12| 24|     Q4|
| 15|1945-08-13|1945|    8| 13|     Q3|
| 16|1946-12-20|1946|   12| 20|     Q4|
| 17|1948-06-15|1948|    6| 15|     Q2|
| 18|1949-07-27|1949|    7| 27|     Q3|
| 19|1950-02-22|1950|    2| 22|     Q1|
| 20|1950-06-27|1950|    6| 27|     Q2|
+---+----------+----+-----+---+-------+
only showing top 20 rows

In [10]:
# Criando tabela de filmes
df_movies = spark.sql("""
    SELECT DISTINCT 
        id,
        tituloPrincipal AS main_title,
        tituloOriginal AS original_title,
        release_date,
        genero AS genres
    FROM db_geral
""")

df_movies.printSchema()
df_movies.describe().show()
df_movies.show()

# df_movies.write.parquet(output_path + 'dim_movie')

root
 |-- id: string (nullable = true)
 |-- main_title: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- release_date: date (nullable = true)
 |-- genres: string (nullable = true)

+-------+---------+--------------------+--------------------+--------------------+
|summary|       id|          main_title|      original_title|              genres|
+-------+---------+--------------------+--------------------+--------------------+
|  count|     1316|                1316|                1316|                1316|
|   mean|     NULL|              1367.0|              1367.0|                NULL|
| stddev|     NULL|   956.0285909253273|   956.0285909253273|                NULL|
|    min|tt0006333|(T)Raumschiff Sur...|(T)Raumschiff Sur...|Action,Adventure,...|
|    max|tt9844322|            Æon Flux|            Æon Flux|     Sci-Fi,Thriller|
+-------+---------+--------------------+--------------------+--------------------+

+---------+--------------------+--------------------+------------+--------------------+
|       id|          main_title|      original_title|release_date|              genres|
+---------+--------------------+--------------------+------------+--------------------+
|tt2076822|       Chaos Walking|       Chaos Walking|  2021-02-24|Action,Adventure,...|
|tt0093418|Like Father Like Son|Like Father Like Son|  1987-10-02|      Comedy,Fantasy|
|tt0446029|Scott Pilgrim vs....|Scott Pilgrim vs....|  2010-08-12|Action,Comedy,Fan...|
|tt0099700|Gremlins 2: The N...|Gremlins 2: The N...|  1990-06-15|Comedy,Fantasy,Ho...|
|tt0307109|The Lost Skeleton...|The Lost Skeleton...|  2001-09-12|Comedy,Horror,Sci-Fi|
|tt0463352|              Me Two|La personne aux d...|  2008-06-18|Comedy,Fantasy,Music|
|tt6133466|     The First Purge|     The First Purge|  2018-07-04|Action,Horror,Sci-Fi|
|tt9198364|Three Thousand Ye...|Three Thousand Ye...|  2022-08-24|Drama,Fantasy,Rom...|
|tt0106598|           Coneheads|           Coneheads|  1993-07-23|       Comedy,Sci-Fi|
|tt1748179|          Red Lights|          Red Lights|  2012-03-02|Drama,Fantasy,Mys...|
|tt0060955|             Seconds|             Seconds|  1966-10-05|     Sci-Fi,Thriller|
|tt0089200|            Ghoulies|            Ghoulies|  1985-01-18|Comedy,Fantasy,Ho...|
|tt0120882|The Visitors II: ...|Les couloirs du t...|  1998-02-11|      Comedy,Fantasy|
|tt0163025|   Jurassic Park III|   Jurassic Park III|  2001-07-18|Action,Adventure,...|
|tt0067992|Willy Wonka & the...|Willy Wonka & the...|  1971-06-29|Family,Fantasy,Mu...|
|tt0080684|Star Wars: Episod...|The Empire Strike...|  1980-05-20|Action,Adventure,...|
|tt0112817|            Dead Man|            Dead Man|  1995-12-23|Adventure,Drama,F...|
|tt4685762|   The Craft: Legacy|   The Craft: Legacy|  2020-10-28|Drama,Fantasy,Horror|
|tt4500922|Maze Runner: The ...|Maze Runner: The ...|  2018-01-10|Action,Adventure,...|
|tt0058898|          Alphaville|Alphaville: Une é...|  1965-05-05|Drama,Mystery,Sci-Fi|
+---------+--------------------+--------------------+------------+--------------------+
only showing top 20 rows

In [11]:
df_movies.filter(F.col('original_title').like('%Star Wars%')).show()

+---------+--------------------+--------------------+------------+--------------------+
|       id|          main_title|      original_title|release_date|              genres|
+---------+--------------------+--------------------+------------+--------------------+
|tt0121765|Star Wars: Episod...|Star Wars: Episod...|  2002-05-15|Action,Adventure,...|
|tt3778644|Solo: A Star Wars...|Solo: A Star Wars...|  2018-05-15|Action,Adventure,...|
|tt2488496|Star Wars: Episod...|Star Wars: Episod...|  2015-12-15|Action,Adventure,...|
|tt2527336|Star Wars: Episod...|Star Wars: Episod...|  2017-12-13|Action,Adventure,...|
|tt0076759|Star Wars: Episod...|           Star Wars|  1977-05-25|Action,Adventure,...|
|tt2527338|Star Wars: Episod...|Star Wars: Episod...|  2019-12-18|Action,Adventure,...|
|tt0121766|Star Wars: Episod...|Star Wars: Episod...|  2005-05-17|Action,Adventure,...|
|tt0120915|Star Wars: Episod...|Star Wars: Episod...|  1999-05-19|Action,Adventure,...|
|tt0086190|Star Wars: Episod...|Star Wars: Episod...|  1983-05-25|Action,Adventure,...|
+---------+--------------------+--------------------+------------+--------------------+

In [12]:
# Criando tabela fato
df_fato = spark.sql("""
    SELECT DISTINCT 
        id AS id_movie,
        nomeArtista,
        release_date,
        id_genre,
        runtime,
        revenue,
        budget,
        personagem AS actor_role,
        popularity,
        notaMedia AS imdb_rating,
        vote_average AS tmdb_rating,
        numeroVotos AS imdb_vote_count,
        vote_count AS tmdb_vote_count
    FROM db_geral
""")

df_fato.printSchema()
df_fato.describe().show()
df_fato.show()

root
 |-- id_movie: string (nullable = true)
 |-- nomeArtista: string (nullable = true)
 |-- release_date: date (nullable = true)
 |-- id_genre: integer (nullable = true)
 |-- runtime: long (nullable = true)
 |-- revenue: long (nullable = true)
 |-- budget: long (nullable = true)
 |-- actor_role: string (nullable = true)
 |-- popularity: double (nullable = true)
 |-- imdb_rating: double (nullable = true)
 |-- tmdb_rating: double (nullable = true)
 |-- imdb_vote_count: integer (nullable = true)
 |-- tmdb_vote_count: long (nullable = true)

+-------+---------+-------------------+------------------+------------------+--------------------+--------------------+------------+------------------+------------------+------------------+------------------+-----------------+
|summary| id_movie|        nomeArtista|          id_genre|           runtime|             revenue|              budget|  actor_role|        popularity|       imdb_rating|       tmdb_rating|   imdb_vote_count|  tmdb_vote_count|
+-------+---------+-------------------+------------------+------------------+--------------------+--------------------+------------+------------------+------------------+------------------+------------------+-----------------+
|  count|     5285|               5285|              5285|              5285|                5285|                5285|        5277|              5285|              5285|              5285|              5285|             5285|
|   mean|     NULL|               NULL|1.5048249763481552|107.92734153263955|1.3528434381948912E8|4.5481265934531696E7|         NaN| 30.52170936613052| 6.159205298013233| 6.277578807947038|150921.10690633868|3275.907284768212|
| stddev|     NULL|               NULL|0.5207879524600586|18.523079794605295|2.6149953490746808E8|5.8424518824292116E7|        NULL|36.673987914732564|1.1010270360498549|0.8759503668144376| 233554.9157732879|4852.269516810833|
|    min|tt0006333|'Weird Al' Yankovic|                 1|                66|                   1|                   5| 'Doc' Smith|             1.113|               1.9|             2.588|                31|               31|
|    max|tt9844322|         Özkan Ugur|                 3|               189|          2923706026|           379000000|Ágata Muller|           696.014|               8.8|             8.507|           2339961|            35449|
+-------+---------+-------------------+------------------+------------------+--------------------+--------------------+------------+------------------+------------------+------------------+------------------+-----------------+

+----------+----------------+------------+--------+-------+---------+---------+-----------------+----------+-----------+-----------+---------------+---------------+
|  id_movie|     nomeArtista|release_date|id_genre|runtime|  revenue|   budget|       actor_role|popularity|imdb_rating|tmdb_rating|imdb_vote_count|tmdb_vote_count|
+----------+----------------+------------+--------+-------+---------+---------+-----------------+----------+-----------+-----------+---------------+---------------+
| tt0105466|      Pam Dawber|  1992-08-14|       1|     87| 10736401| 25000000|     Helen Knable|     8.703|        6.2|        6.1|          13222|            156|
| tt0096764|    Sarah Polley|  1988-12-07|       1|    126|  8083123| 46630000|       Sally Salt|    22.874|        7.1|        6.9|          53996|            833|
| tt4726636|Juliette Binoche|  2016-05-13|       1|    124|   920719|  8104734|Aude Van Peteghem|     6.856|        6.0|      5.558|           4607|            250|
| tt0102975|   Leonard Nimoy|  1991-12-06|       2|    109| 96900000| 27000000|            Spock|    16.659|        7.2|        7.0|          76639|           1197|
| tt0084503|      Bob Geldof|  1982-07-14|       1|     95| 22244207| 12000000|             Pink|    19.602|        8.0|        8.0|          81655|           1424|
| tt0116654|   Marlon Brando|  1996-08-23|       2|     96| 49627779| 40000000|       Dr. Moreau|    19.417|        4.5|        4.9|          33940|            491|
| tt2274648|     Ian McShane|  2019-04-10|       1|    121| 55065289| 50000000|  Professor Broom|    53.931|        5.2|        5.5|          91221|           3234|
| tt0053271|      Jean Hagen|  1959-03-19|       1|    104| 17658000|  1250000|   Freeda Daniels|     9.679|        6.4|        6.0|           5191|             76|
| tt0073747|  Nanette Newman|  1975-02-12|       2|    117|  8700000|   500000|   Carol Van Sant|     11.61|        6.9|        6.7|          18158|            285|
| tt2034761| Stig-Werner Moe|  2012-11-09|       1|     80|  7419431|  5000000|           Greven|    11.659|        5.7|        6.0|           1547|            165|
| tt2345759|      Tom Cruise|  2017-06-06|       1|    110|409231607|125000000|      Nick Morton|    36.558|        5.4|        5.5|         191422|           6925|
| tt4110388|   Maribel Verdú|  2018-11-23|       2|    108| 12496155|  5200000|     Ágata Muller|     12.43|        5.4|        5.4|           3801|            246|
| tt3659388|      Matt Damon|  2015-09-30|       2|    141|631058917|108000000|      Mark Watney|     55.82|        8.0|        7.7|         852262|          19040|
| tt8663516|    Tim Matheson|  2019-06-19|       2|     90| 44902237| 10000000|     Henry Kaslan|    28.292|        5.7|        6.0|          52666|           1809|
| tt0090142|   Susan Ursitti|  1985-08-23|       1|     91| 80000000|  1200000|             Boof|    28.659|        6.1|        6.2|          54621|           1065|
| tt0091993|    Lea Thompson|  1986-06-06|       2|    107|  9697739| 18000000|          Kathryn|     7.695|        5.7|        5.9|          15226|            171|
| tt0284978|  Timothy Webber|  2002-10-01|       2|     95|   898365|  7500000|         Callaway|    10.771|        6.7|        6.6|          31351|            530|
| tt1226681|   Hrant Alianak|  2009-03-06|       2|     96|    32000|  1500000|       Dr. Mendez|    10.182|        6.5|        6.4|          32921|            577|
| tt1335975|    Ko Shibasaki|  2013-12-06|       1|    119|151783839|175000000|             Mika|    26.228|        6.2|        6.2|         161496|           3668|
|tt20168564|    Kim Eui-sung|  2022-07-20|       1|    142| 12600000| 24500000|           Jajang|   696.014|        6.4|        7.2|           2091|            211|
+----------+----------------+------------+--------+-------+---------+---------+-----------------+----------+-----------+-----------+---------------+---------------+
only showing top 20 rows

In [13]:
df_fato = df_fato.join(df_dates.select('id', 'date'), df_fato.release_date == df_dates.date, 'inner')
df_fato = df_fato.withColumnRenamed('id', 'id_date')
df_fato = df_fato.drop('release_date', 'date')
df_fato.show()
print(df_fato.count())

+----------+----------------+--------+-------+---------+---------+-----------------+----------+-----------+-----------+---------------+---------------+-------+
|  id_movie|     nomeArtista|id_genre|runtime|  revenue|   budget|       actor_role|popularity|imdb_rating|tmdb_rating|imdb_vote_count|tmdb_vote_count|id_date|
+----------+----------------+--------+-------+---------+---------+-----------------+----------+-----------+-----------+---------------+---------------+-------+
| tt0105466|      Pam Dawber|       1|     87| 10736401| 25000000|     Helen Knable|     8.703|        6.2|        6.1|          13222|            156|    319|
| tt0096764|    Sarah Polley|       1|    126|  8083123| 46630000|       Sally Salt|    22.874|        7.1|        6.9|          53996|            833|    256|
| tt4726636|Juliette Binoche|       1|    124|   920719|  8104734|Aude Van Peteghem|     6.856|        6.0|      5.558|           4607|            250|   1039|
| tt0102975|   Leonard Nimoy|       2|    109| 96900000| 27000000|            Spock|    16.659|        7.2|        7.0|          76639|           1197|    308|
| tt0084503|      Bob Geldof|       1|     95| 22244207| 12000000|             Pink|    19.602|        8.0|        8.0|          81655|           1424|    136|
| tt0116654|   Marlon Brando|       2|     96| 49627779| 40000000|       Dr. Moreau|    19.417|        4.5|        4.9|          33940|            491|    403|
| tt2274648|     Ian McShane|       1|    121| 55065289| 50000000|  Professor Broom|    53.931|        5.2|        5.5|          91221|           3234|   1145|
| tt0053271|      Jean Hagen|       1|    104| 17658000|  1250000|   Freeda Daniels|     9.679|        6.4|        6.0|           5191|             76|     39|
| tt0073747|  Nanette Newman|       2|    117|  8700000|   500000|   Carol Van Sant|     11.61|        6.9|        6.7|          18158|            285|     78|
| tt2034761| Stig-Werner Moe|       1|     80|  7419431|  5000000|           Greven|    11.659|        5.7|        6.0|           1547|            165|    900|
| tt2345759|      Tom Cruise|       1|    110|409231607|125000000|      Nick Morton|    36.558|        5.4|        5.5|         191422|           6925|   1077|
| tt4110388|   Maribel Verdú|       2|    108| 12496155|  5200000|     Ágata Muller|     12.43|        5.4|        5.4|           3801|            246|   1130|
| tt3659388|      Matt Damon|       2|    141|631058917|108000000|      Mark Watney|     55.82|        8.0|        7.7|         852262|          19040|   1011|
| tt8663516|    Tim Matheson|       2|     90| 44902237| 10000000|     Henry Kaslan|    28.292|        5.7|        6.0|          52666|           1809|   1149|
| tt0090142|   Susan Ursitti|       1|     91| 80000000|  1200000|             Boof|    28.659|        6.1|        6.2|          54621|           1065|    189|
| tt0091993|    Lea Thompson|       2|    107|  9697739| 18000000|          Kathryn|     7.695|        5.7|        5.9|          15226|            171|    201|
| tt0284978|  Timothy Webber|       2|     95|   898365|  7500000|         Callaway|    10.771|        6.7|        6.6|          31351|            530|    559|
| tt1226681|   Hrant Alianak|       2|     96|    32000|  1500000|       Dr. Mendez|    10.182|        6.5|        6.4|          32921|            577|    757|
| tt1335975|    Ko Shibasaki|       1|    119|151783839|175000000|             Mika|    26.228|        6.2|        6.2|         161496|           3668|    946|
|tt20168564|    Kim Eui-sung|       1|    142| 12600000| 24500000|           Jajang|   696.014|        6.4|        7.2|           2091|            211|   1224|
+----------+----------------+--------+-------+---------+---------+-----------------+----------+-----------+-----------+---------------+---------------+-------+
only showing top 20 rows

5285

In [14]:
df_fato = df_fato.join(df_actors.select('id', 'name'), df_fato.nomeArtista == df_actors.name, 'inner')
df_fato = df_fato.withColumnRenamed('id', 'id_actor')
df_fato = df_fato.drop('nomeArtista', 'name')
df_fato.show()
print(df_fato.count())

+----------+--------+-------+---------+---------+-----------------+----------+-----------+-----------+---------------+---------------+-------+--------+
|  id_movie|id_genre|runtime|  revenue|   budget|       actor_role|popularity|imdb_rating|tmdb_rating|imdb_vote_count|tmdb_vote_count|id_date|id_actor|
+----------+--------+-------+---------+---------+-----------------+----------+-----------+-----------+---------------+---------------+-------+--------+
| tt0105466|       1|     87| 10736401| 25000000|     Helen Knable|     8.703|        6.2|        6.1|          13222|            156|    319|     563|
| tt0096764|       1|    126|  8083123| 46630000|       Sally Salt|    22.874|        7.1|        6.9|          53996|            833|    256|    1290|
| tt4726636|       1|    124|   920719|  8104734|Aude Van Peteghem|     6.856|        6.0|      5.558|           4607|            250|   1039|    7300|
| tt0102975|       2|    109| 96900000| 27000000|            Spock|    16.659|        7.2|        7.0|          76639|           1197|    308|    6020|
| tt0084503|       1|     95| 22244207| 12000000|             Pink|    19.602|        8.0|        8.0|          81655|           1424|    136|     934|
| tt0116654|       2|     96| 49627779| 40000000|       Dr. Moreau|    19.417|        4.5|        4.9|          33940|            491|    403|    1285|
| tt2274648|       1|    121| 55065289| 50000000|  Professor Broom|    53.931|        5.2|        5.5|          91221|           3234|   1145|     212|
| tt0053271|       1|    104| 17658000|  1250000|   Freeda Daniels|     9.679|        6.4|        6.0|           5191|             76|     39|    3325|
| tt0073747|       2|    117|  8700000|   500000|   Carol Van Sant|     11.61|        6.9|        6.7|          18158|            285|     78|    7054|
| tt2034761|       1|     80|  7419431|  5000000|           Greven|    11.659|        5.7|        6.0|           1547|            165|    900|     453|
| tt2345759|       1|    110|409231607|125000000|      Nick Morton|    36.558|        5.4|        5.5|         191422|           6925|   1077|    6453|
| tt4110388|       2|    108| 12496155|  5200000|     Ágata Muller|     12.43|        5.4|        5.4|           3801|            246|   1130|    7186|
| tt3659388|       2|    141|631058917|108000000|      Mark Watney|     55.82|        8.0|        7.7|         852262|          19040|   1011|    3942|
| tt8663516|       2|     90| 44902237| 10000000|     Henry Kaslan|    28.292|        5.7|        6.0|          52666|           1809|   1149|    5406|
| tt0090142|       1|     91| 80000000|  1200000|             Boof|    28.659|        6.1|        6.2|          54621|           1065|    189|    2265|
| tt0091993|       2|    107|  9697739| 18000000|          Kathryn|     7.695|        5.7|        5.9|          15226|            171|    201|    5698|
| tt0284978|       2|     95|   898365|  7500000|         Callaway|    10.771|        6.7|        6.6|          31351|            530|    559|    1687|
| tt1226681|       2|     96|    32000|  1500000|       Dr. Mendez|    10.182|        6.5|        6.4|          32921|            577|    757|     533|
| tt1335975|       1|    119|151783839|175000000|             Mika|    26.228|        6.2|        6.2|         161496|           3668|    946|    4347|
|tt20168564|       1|    142| 12600000| 24500000|           Jajang|   696.014|        6.4|        7.2|           2091|            211|   1224|    5271|
+----------+--------+-------+---------+---------+-----------------+----------+-----------+-----------+---------------+---------------+-------+--------+
only showing top 20 rows

5285

In [15]:
# Reordenando as colunas
df_fato = df_fato.select(*df_fato.columns[:2], *df_fato.columns[-2:], *df_fato.columns[2:-2])
df_fato.printSchema()
df_fato.describe().show()
df_fato.orderBy('id_movie').show()

# df_fato.write.partitionBy('id_movie').parquet(output_path + 'fact_movie_actor')

root
 |-- id_movie: string (nullable = true)
 |-- id_genre: integer (nullable = true)
 |-- id_date: long (nullable = false)
 |-- id_actor: long (nullable = false)
 |-- runtime: long (nullable = true)
 |-- revenue: long (nullable = true)
 |-- budget: long (nullable = true)
 |-- actor_role: string (nullable = true)
 |-- popularity: double (nullable = true)
 |-- imdb_rating: double (nullable = true)
 |-- tmdb_rating: double (nullable = true)
 |-- imdb_vote_count: integer (nullable = true)
 |-- tmdb_vote_count: long (nullable = true)

+-------+---------+------------------+-----------------+------------------+------------------+--------------------+--------------------+------------+------------------+------------------+------------------+------------------+-----------------+
|summary| id_movie|          id_genre|          id_date|          id_actor|           runtime|             revenue|              budget|  actor_role|        popularity|       imdb_rating|       tmdb_rating|   imdb_vote_count|  tmdb_vote_count|
+-------+---------+------------------+-----------------+------------------+------------------+--------------------+--------------------+------------+------------------+------------------+------------------+------------------+-----------------+
|  count|     5285|              5285|             5285|              5285|              5285|                5285|                5285|        5277|              5285|              5285|              5285|              5285|             5285|
|   mean|     NULL|1.5048249763481552|619.3105014191107|11828.643140964996|107.92734153263955|1.3528434381948912E8|4.5481265934531696E7|         NaN| 30.52170936613052| 6.159205298013233| 6.277578807947038|150921.10690633868|3275.907284768212|
| stddev|     NULL|0.5207879524600586|353.7868481000442| 9156.773954250264|18.523079794605295|2.6149953490746808E8|5.8424518824292116E7|        NULL|36.673987914732564|1.1010270360498549|0.8759503668144376| 233554.9157732879|4852.269516810833|
|    min|tt0006333|                 1|                1|                10|                66|                   1|                   5| 'Doc' Smith|             1.113|               1.9|             2.588|                31|               31|
|    max|tt9844322|                 3|             1232|             34657|               189|          2923706026|           379000000|Ágata Muller|           696.014|               8.8|             8.507|           2339961|            35449|
+-------+---------+------------------+-----------------+------------------+------------------+--------------------+--------------------+------------+------------------+------------------+------------------+------------------+-----------------+

+---------+--------+-------+--------+-------+--------+-------+--------------------+----------+-----------+-----------+---------------+---------------+
| id_movie|id_genre|id_date|id_actor|runtime| revenue| budget|          actor_role|popularity|imdb_rating|tmdb_rating|imdb_vote_count|tmdb_vote_count|
+---------+--------+-------+--------+-------+--------+-------+--------------------+----------+-----------+-----------+---------------+---------------+
|tt0006333|       2|      1|    4491|     99| 8000000| 200000|          Capt. Nemo|     3.563|        6.1|        6.2|           1835|             51|
|tt0006333|       2|      1|    3613|     99| 8000000| 200000|  Aronnax's Daughter|     3.563|        6.1|        6.2|           1835|             51|
|tt0006333|       2|      1|   15108|     99| 8000000| 200000|       Prof. Aronnax|     3.563|        6.1|        6.2|           1835|             51|
|tt0006333|       2|      1|   32664|     99| 8000000| 200000|            Ned Land|     3.563|        6.1|        6.2|           1835|             51|
|tt0015400|       1|      2|    7927|    149| 1490419|1135654| The Thief of Bagdad|    10.033|        7.7|      7.328|           6361|            145|
|tt0015400|       1|      2|   13975|    149| 1490419|1135654|        The Holy Man|    10.033|        7.7|      7.328|           6361|            145|
|tt0015400|       1|      2|   32168|    149| 1490419|1135654|The Thief's Evil ...|    10.033|        7.7|      7.328|           6361|            145|
|tt0015400|       1|      2|   21100|    149| 1490419|1135654|        The Princess|    10.033|        7.7|      7.328|           6361|            145|
|tt0017136|       2|      3|    4689|    149|  650422|1300000|MariaMaschinenmen...|    26.037|        8.3|        8.1|         175050|           2568|
|tt0017136|       2|      3|   11260|    149|  650422|1300000|Freder Fredersen ...|    26.037|        8.3|        8.1|         175050|           2568|
|tt0017136|       2|      3|   26607|    149|  650422|1300000|Erfinder C.A. Rot...|    26.037|        8.3|        8.1|         175050|           2568|
|tt0017136|       2|      3|   33538|    149|  650422|1300000|Johann (Joh) Fred...|    26.037|        8.3|        8.1|         175050|           2568|
|tt0021814|       1|      4|   14125|     74|  700000| 355000|                Mina|    25.482|        7.4|        7.2|          53792|           1111|
|tt0021814|       1|      4|   10312|     74|  700000| 355000|            Renfield|    25.482|        7.4|        7.2|          53792|           1111|
|tt0021814|       1|      4|    4840|     74|  700000| 355000|       Count Dracula|    25.482|        7.4|        7.2|          53792|           1111|
|tt0021814|       1|      4|   16632|     74|  700000| 355000|         John Harker|    25.482|        7.4|        7.2|          53792|           1111|
|tt0021884|       2|      5|    5208|     71|12000000| 291000|  Henry Frankenstein|    17.007|        7.8|        7.5|          74009|           1475|
|tt0021884|       2|      5|   11008|     71|12000000| 291000|       Victor Moritz|    17.007|        7.8|        7.5|          74009|           1475|
|tt0021884|       2|      5|    2032|     71|12000000| 291000|         The Monster|    17.007|        7.8|        7.5|          74009|           1475|
|tt0021884|       2|      5|    9064|     71|12000000| 291000|           Elizabeth|    17.007|        7.8|        7.5|          74009|           1475|
+---------+--------+-------+--------+-------+--------+-------+--------------------+----------+-----------+-----------+---------------+---------------+
only showing top 20 rows

In [16]:
# Criando tabela de gêneros
df_genres = df_fato.select('id_movie', 'id_genre').distinct().groupBy('id_genre').count()
df_genres.show()

+--------+-----+
|id_genre|count|
+--------+-----+
|       1|  666|
|       3|   14|
|       2|  636|
+--------+-----+

In [17]:
df_genres = df_genres.withColumnRenamed('id_genre', 'id')
df_genres = df_genres.withColumnRenamed('count', 'num_movies')
df_genres = df_genres.withColumn('genre', 
                           F.when(F.col('id') == 1, 'Fantasy')
                           .when(F.col('id') == 2, 'Sci-Fi')
                           .when(F.col('id') == 3, 'Fantasy/Sci-Fi'))

df_genres = df_genres.select('id', 'genre', 'num_movies').orderBy('id')

df_genres.show()

# df_genres.write.parquet(output_path + 'dim_genre')

+---+--------------+----------+
| id|         genre|num_movies|
+---+--------------+----------+
|  1|       Fantasy|       666|
|  2|        Sci-Fi|       636|
|  3|Fantasy/Sci-Fi|        14|
+---+--------------+----------+