In [1]:
from pyspark.sql import SparkSession, Window, functions as F

spark = SparkSession \
    .builder \
    .master("local[*]")\
    .appName("Processamento Camada Refined") \
    .getOrCreate()

output_path = 'assets/data/Layers/Refined/'

df_tmdb = spark.read.parquet('assets/data/Layers/TRT/TMDB')
df_imdb = spark.read.parquet('assets/data/Layers/TRT/Movies')

In [2]:
df_tmdb.printSchema()
df_tmdb.show()
df_imdb.printSchema()
df_imdb.show()

root
 |-- budget: long (nullable = true)
 |-- id: long (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- popularity: double (nullable = true)
 |-- release_date: date (nullable = true)
 |-- revenue: long (nullable = true)
 |-- runtime: long (nullable = true)
 |-- title: string (nullable = true)
 |-- vote_average: double (nullable = true)
 |-- vote_count: long (nullable = true)
 |-- extraction_date: date (nullable = true)

+---------+------+---------+----------+------------+---------+-------+--------------------+------------+----------+---------------+
|   budget|    id|  imdb_id|popularity|release_date|  revenue|runtime|               title|vote_average|vote_count|extraction_date|
+---------+------+---------+----------+------------+---------+-------+--------------------+------------+----------+---------------+
|  2020000| 30145|tt0151572|      6.83|  1998-12-18|  4374994|    104|The Miracle of P....|         6.7|        98|     2024-03-27|
| 12000000| 31909|tt0091276|    14.859|  1986-06-06|  4884663|    100|  Invaders from Mars|         5.5|       227|     2024-03-27|
|  4000000|  9300|tt0107756|    10.641|  1992-12-11|  5377643|     90|             Orlando|         6.9|       295|     2024-03-27|
|  5000000| 19051|tt0093744|      8.93|  1988-07-06|  3569939|    100|The New Adventure...|         5.7|        71|     2024-03-27|
| 12000000| 11559|tt0410764|    13.597|  2005-09-09|   566611|    120|            Tideland|         6.5|       525|     2024-03-27|
|   750000|  8327|tt0071615|     16.39|  1973-11-29|    96262|    114|   The Holy Mountain|         7.6|       846|     2024-03-27|
| 62000000|336843|tt4500922|    60.459|  2018-01-10|288175335|    143|Maze Runner: The ...|         7.1|      7372|     2024-03-27|
|  8700000|330764|tt3792960|     15.38|  2015-09-02| 15709652|    114|The Brand New Tes...|         6.7|      1565|     2024-03-27|
| 15000000|  9431|tt0117826|    24.556|  1996-08-16|  5600000|     87|   Bordello of Blood|         5.9|       357|     2024-03-27|
| 23030000| 10353|tt0120882|    18.834|  1998-02-11| 66000000|    118|The Visitors II: ...|         6.0|       952|     2024-03-27|
|  5000000| 11284|tt0101917|    38.396|  1991-09-05| 34900000|     89|Freddy's Dead: Th...|         5.3|      1235|     2024-03-27|
| 23000000|287590|tt2231489|    34.465|  2014-06-21| 17150803|     93|Saint Seiya: Lege...|         6.6|       652|     2024-03-27|
|  2800000|443319|tt6574272|    12.905|  2017-04-21|  3600000|     87|   Phoenix Forgotten|         6.0|       256|     2024-03-27|
|   400000|  4917|tt0072730|    13.765|  1975-03-23|  6900000|     90|   A Boy and His Dog|         6.3|       317|     2024-03-27|
| 90000000| 76285|tt1854564|    37.253|  2013-08-07|199850315|    106|Percy Jackson: Se...|         6.0|      4972|     2024-03-27|
|  1800000| 16296|tt0095444|    24.395|  1988-05-27| 43625095|     88|Killer Klowns fro...|         6.5|       913|     2024-03-27|
|  3200000|424781|tt5688932|    28.251|  2018-07-06| 18200000|    112| Sorry to Bother You|         6.8|      1455|     2024-03-27|
| 20000000| 44638|tt1274300|    10.155|  2010-09-11|   346594|    110|         The Tempest|         5.4|       114|     2024-03-27|
| 25000000| 46261|tt1270761|    20.885|  2010-11-06| 36993168|     99|Don't Be Afraid o...|         5.8|      1001|     2024-03-27|
|150000000| 62213|tt1077368|    29.218|  2012-05-09|245527149|    113|        Dark Shadows|       6.059|      6930|     2024-03-27|
+---------+------+---------+----------+------------+---------+-------+--------------------+------------+----------+---------------+
only showing top 20 rows

root
 |-- id: string (nullable = true)
 |-- tituloPrincipal: string (nullable = true)
 |-- tituloOriginal: string (nullable = true)
 |-- anoLancamento: integer (nullable = true)
 |-- tempoMinutos: integer (nullable = true)
 |-- genero: string (nullable = true)
 |-- notaMedia: double (nullable = true)
 |-- numeroVotos: integer (nullable = true)
 |-- personagem: string (nullable = true)
 |-- nomeArtista: string (nullable = true)

+---------+--------------------+--------------------+-------------+------------+--------------------+---------+-----------+--------------------+------------------+
|       id|     tituloPrincipal|      tituloOriginal|anoLancamento|tempoMinutos|              genero|notaMedia|numeroVotos|          personagem|       nomeArtista|
+---------+--------------------+--------------------+-------------+------------+--------------------+---------+-----------+--------------------+------------------+
|tt0000679|The Fairylogue an...|The Fairylogue an...|         1908|         120|   Adventure,Fantasy|      5.2|         66|Tik-Tok - the Mac...| Wallace Illington|
|tt0003015|Die Insel der Sel...|Die Insel der Sel...|         1913|          49|      Comedy,Fantasy|      4.7|         63|Gutmuetige VaterM...|Wilhelm Diegelmann|
|tt0003772|          Cinderella|          Cinderella|         1914|          52|       Drama,Fantasy|      6.1|       1037|          Cinderella|     Mary Pickford|
|tt0003772|          Cinderella|          Cinderella|         1914|          52|       Drama,Fantasy|      6.1|       1037|          Stepsister|    Lucille Carney|
|tt0003772|          Cinderella|          Cinderella|         1914|          52|       Drama,Fantasy|      6.1|       1037|            The King|         W.N. Cone|
|tt0003772|          Cinderella|          Cinderella|         1914|          52|       Drama,Fantasy|      6.1|       1037|     Prince Charming|        Owen Moore|
|tt0004391|  Neptune's Daughter|  Neptune's Daughter|         1914|          70|             Fantasy|      6.0|         52|Annette Neptune's...| Annette Kellerman|
|tt0004391|  Neptune's Daughter|  Neptune's Daughter|         1914|          70|             Fantasy|      6.0|         52|        King William|   William E. Shay|
|tt0005615|   Life Without Soul|   Life Without Soul|         1915|          70| Drama,Horror,Sci-Fi|      6.8|         55|     Claudia Frawley|    Pauline Curley|
|tt0005615|   Life Without Soul|   Life Without Soul|         1915|          70| Drama,Horror,Sci-Fi|      6.8|         55|      Henry Claridge|      Jack Hopkins|
|tt0005615|   Life Without Soul|   Life Without Soul|         1915|          70| Drama,Horror,Sci-Fi|      6.8|         55|        The Creation|    Percy Standing|
|tt0005615|   Life Without Soul|   Life Without Soul|         1915|          70| Drama,Horror,Sci-Fi|      6.8|         55| Dr. William Frawley| William W. Cohill|
|tt0005951|    Satan's Rhapsody|   Rapsodia satanica|         1917|          55|Drama,Fantasy,Horror|      6.8|        748|            Mephisto|       Ugo Bazzini|
|tt0005951|    Satan's Rhapsody|   Rapsodia satanica|         1917|          55|Drama,Fantasy,Horror|      6.8|        748|              Sergio|     Giovanni Cini|
|tt0006333|20,000 Leagues Un...|20,000 Leagues Un...|         1916|          85|Action,Adventure,...|      6.1|       1835|          Capt. Nemo|     Allen Holubar|
|tt0006333|20,000 Leagues Un...|20,000 Leagues Un...|         1916|          85|Action,Adventure,...|      6.1|       1835|            Ned Land|     Curtis Benton|
|tt0006819|Hoffmanns Erzählu...|Hoffmanns Erzählu...|         1916|          67|             Fantasy|      6.1|         55|   E. T. A. Hoffmann| Erich Kaiser-Titz|
|tt0007183| The Queen of Spades|       Pikovaya dama|         1916|          63|Drama,Fantasy,Horror|      6.7|        761|Count of Saint-Ge...|     Nikolai Panov|
|tt0007183| The Queen of Spades|       Pikovaya dama|         1916|          63|Drama,Fantasy,Horror|      6.7|        761|            Lizaveta|       Vera Orlova|
|tt0007183| The Queen of Spades|       Pikovaya dama|         1916|          63|Drama,Fantasy,Horror|      6.7|        761|The Countess as a...|      Tamara Duvan|
+---------+--------------------+--------------------+-------------+------------+--------------------+---------+-----------+--------------------+------------------+
only showing top 20 rows

In [3]:
df_imdb = df_imdb.withColumn("id_genre", 
                           F.when(df_imdb["genero"].like("%Fantasy%") & ~df_imdb["genero"].like("%Sci-Fi%"), 1)
                           .when(df_imdb["genero"].like("%Sci-Fi%") & ~df_imdb["genero"].like("%Fantasy%"), 2)
                           .when(df_imdb["genero"].like("%Fantasy%") & df_imdb["genero"].like("%Sci-Fi%"), 3)
                           .otherwise(None))
df_imdb.show()

+---------+--------------------+--------------------+-------------+------------+--------------------+---------+-----------+--------------------+------------------+--------+
|       id|     tituloPrincipal|      tituloOriginal|anoLancamento|tempoMinutos|              genero|notaMedia|numeroVotos|          personagem|       nomeArtista|id_genre|
+---------+--------------------+--------------------+-------------+------------+--------------------+---------+-----------+--------------------+------------------+--------+
|tt0000679|The Fairylogue an...|The Fairylogue an...|         1908|         120|   Adventure,Fantasy|      5.2|         66|Tik-Tok - the Mac...| Wallace Illington|       1|
|tt0003015|Die Insel der Sel...|Die Insel der Sel...|         1913|          49|      Comedy,Fantasy|      4.7|         63|Gutmuetige VaterM...|Wilhelm Diegelmann|       1|
|tt0003772|          Cinderella|          Cinderella|         1914|          52|       Drama,Fantasy|      6.1|       1037|          Cinderella|     Mary Pickford|       1|
|tt0003772|          Cinderella|          Cinderella|         1914|          52|       Drama,Fantasy|      6.1|       1037|          Stepsister|    Lucille Carney|       1|
|tt0003772|          Cinderella|          Cinderella|         1914|          52|       Drama,Fantasy|      6.1|       1037|            The King|         W.N. Cone|       1|
|tt0003772|          Cinderella|          Cinderella|         1914|          52|       Drama,Fantasy|      6.1|       1037|     Prince Charming|        Owen Moore|       1|
|tt0004391|  Neptune's Daughter|  Neptune's Daughter|         1914|          70|             Fantasy|      6.0|         52|Annette Neptune's...| Annette Kellerman|       1|
|tt0004391|  Neptune's Daughter|  Neptune's Daughter|         1914|          70|             Fantasy|      6.0|         52|        King William|   William E. Shay|       1|
|tt0005615|   Life Without Soul|   Life Without Soul|         1915|          70| Drama,Horror,Sci-Fi|      6.8|         55|     Claudia Frawley|    Pauline Curley|       2|
|tt0005615|   Life Without Soul|   Life Without Soul|         1915|          70| Drama,Horror,Sci-Fi|      6.8|         55|      Henry Claridge|      Jack Hopkins|       2|
|tt0005615|   Life Without Soul|   Life Without Soul|         1915|          70| Drama,Horror,Sci-Fi|      6.8|         55|        The Creation|    Percy Standing|       2|
|tt0005615|   Life Without Soul|   Life Without Soul|         1915|          70| Drama,Horror,Sci-Fi|      6.8|         55| Dr. William Frawley| William W. Cohill|       2|
|tt0005951|    Satan's Rhapsody|   Rapsodia satanica|         1917|          55|Drama,Fantasy,Horror|      6.8|        748|            Mephisto|       Ugo Bazzini|       1|
|tt0005951|    Satan's Rhapsody|   Rapsodia satanica|         1917|          55|Drama,Fantasy,Horror|      6.8|        748|              Sergio|     Giovanni Cini|       1|
|tt0006333|20,000 Leagues Un...|20,000 Leagues Un...|         1916|          85|Action,Adventure,...|      6.1|       1835|          Capt. Nemo|     Allen Holubar|       2|
|tt0006333|20,000 Leagues Un...|20,000 Leagues Un...|         1916|          85|Action,Adventure,...|      6.1|       1835|            Ned Land|     Curtis Benton|       2|
|tt0006819|Hoffmanns Erzählu...|Hoffmanns Erzählu...|         1916|          67|             Fantasy|      6.1|         55|   E. T. A. Hoffmann| Erich Kaiser-Titz|       1|
|tt0007183| The Queen of Spades|       Pikovaya dama|         1916|          63|Drama,Fantasy,Horror|      6.7|        761|Count of Saint-Ge...|     Nikolai Panov|       1|
|tt0007183| The Queen of Spades|       Pikovaya dama|         1916|          63|Drama,Fantasy,Horror|      6.7|        761|            Lizaveta|       Vera Orlova|       1|
|tt0007183| The Queen of Spades|       Pikovaya dama|         1916|          63|Drama,Fantasy,Horror|      6.7|        761|The Countess as a...|      Tamara Duvan|       1|
+---------+--------------------+--------------------+-------------+------------+--------------------+---------+-----------+--------------------+------------------+--------+
only showing top 20 rows

In [4]:
df_tmdb = df_tmdb.withColumnRenamed('id', 'tmdb_id')
df_geral = df_imdb.join(df_tmdb, df_imdb.id == df_tmdb.imdb_id, 'inner')
df_geral.createOrReplaceTempView('db_geral')
df_tmdb.printSchema()
df_imdb.printSchema()
df_geral.printSchema()
df_geral.describe().show(truncate=False)

root
 |-- budget: long (nullable = true)
 |-- tmdb_id: long (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- popularity: double (nullable = true)
 |-- release_date: date (nullable = true)
 |-- revenue: long (nullable = true)
 |-- runtime: long (nullable = true)
 |-- title: string (nullable = true)
 |-- vote_average: double (nullable = true)
 |-- vote_count: long (nullable = true)
 |-- extraction_date: date (nullable = true)

root
 |-- id: string (nullable = true)
 |-- tituloPrincipal: string (nullable = true)
 |-- tituloOriginal: string (nullable = true)
 |-- anoLancamento: integer (nullable = true)
 |-- tempoMinutos: integer (nullable = true)
 |-- genero: string (nullable = true)
 |-- notaMedia: double (nullable = true)
 |-- numeroVotos: integer (nullable = true)
 |-- personagem: string (nullable = true)
 |-- nomeArtista: string (nullable = true)
 |-- id_genre: integer (nullable = true)

root
 |-- id: string (nullable = true)
 |-- tituloPrincipal: string (nullable = true)
 |-- tituloOriginal: string (nullable = true)
 |-- anoLancamento: integer (nullable = true)
 |-- tempoMinutos: integer (nullable = true)
 |-- genero: string (nullable = true)
 |-- notaMedia: double (nullable = true)
 |-- numeroVotos: integer (nullable = true)
 |-- personagem: string (nullable = true)
 |-- nomeArtista: string (nullable = true)
 |-- id_genre: integer (nullable = true)
 |-- budget: long (nullable = true)
 |-- tmdb_id: long (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- popularity: double (nullable = true)
 |-- release_date: date (nullable = true)
 |-- revenue: long (nullable = true)
 |-- runtime: long (nullable = true)
 |-- title: string (nullable = true)
 |-- vote_average: double (nullable = true)
 |-- vote_count: long (nullable = true)
 |-- extraction_date: date (nullable = true)

+-------+---------+----------------------------------+----------------------------------+------------------+------------------+------------------------+-----------------+------------------+------------+-------------------+------------------+--------------------+------------------+---------+------------------+--------------------+------------------+----------------------------------+-----------------+-----------------+
|summary|id       |tituloPrincipal                   |tituloOriginal                    |anoLancamento     |tempoMinutos      |genero                  |notaMedia        |numeroVotos       |personagem  |nomeArtista        |id_genre          |budget              |tmdb_id           |imdb_id  |popularity        |revenue             |runtime           |title                             |vote_average     |vote_count       |
+-------+---------+----------------------------------+----------------------------------+------------------+------------------+------------------------+-----------------+------------------+------------+-------------------+------------------+--------------------+------------------+---------+------------------+--------------------+------------------+----------------------------------+-----------------+-----------------+
|count  |5285     |5285                              |5285                              |5285              |5285              |5285                    |5285             |5285              |5277        |5285               |5285              |5285                |5285              |5285     |5285              |5285                |5285              |5285                              |5285             |5285             |
|mean   |NULL     |1367.0                            |1367.0                            |2000.8325449385052|107.93207190160832|NULL                    |6.159205298013241|150921.10690633868|NaN         |NULL               |1.5048249763481552|4.5481265934531696E7|106278.43405865658|NULL     |30.521709366130537|1.3528434381948912E8|107.92734153263955|1495.6                            |6.277763481551557|3275.947398297067|
|stddev |NULL     |855.0979670969481                 |855.0979670969481                 |16.196423951050498|18.559042054431984|NULL                    |1.101027036049855|233554.915773288  |NULL        |NULL               |0.5207879524600585|5.8424518824292146E7|174557.22366623295|NULL     |36.673987914732486|2.614995349074681E8 |18.523079794605312|804.2952063436462                 |0.875587340492756|4852.320494093425|
|min    |tt0006333|(T)Raumschiff Surprise - Periode 1|(T)Raumschiff Surprise - Periode 1|1916              |65                |Action,Adventure,Fantasy|1.9              |31                |'Doc' Smith |'Weird Al' Yankovic|1                 |5                   |11                |tt0006333|1.113             |1                   |66                |(T)Raumschiff Surprise - Periode 1|2.6              |31               |
|max    |tt9844322|Æon Flux                          |Æon Flux                          |2022              |189               |Sci-Fi,Thriller         |8.8              |2339961           |Ágata Muller|Özkan Ugur         |3                 |379000000           |951546            |tt9844322|696.014           |2923706026          |189               |Æon Flux                          |8.507            |35449            |
+-------+---------+----------------------------------+----------------------------------+------------------+------------------+------------------------+-----------------+------------------+------------+-------------------+------------------+--------------------+------------------+---------+------------------+--------------------+------------------+----------------------------------+-----------------+-----------------+

In [5]:
spark.sql('SELECT DISTINCT id FROM db_geral').count() # 1316

1316

In [6]:
# Criando tabela de artistas
df_actors = df_imdb.groupBy('nomeArtista').count()
df_actors = df_actors.withColumnRenamed('nomeArtista', 'name') \
    .withColumnRenamed('count', 'num_movies')

df_actors.orderBy(F.col('count').desc()).show()
df_actors.describe().show()

+--------------------+----------+
|                name|num_movies|
+--------------------+----------+
|     Lance Henriksen|        28|
|      John Carradine|        28|
|       Germán Valdés|        22|
|     Christopher Lee|        21|
|       Boris Karloff|        20|
|        Tom Sizemore|        19|
|        Nicolas Cage|        19|
|        Eric Roberts|        19|
|       Peter Cushing|        19|
|        David Warner|        18|
|      Lon Chaney Jr.|        17|
|Arnold Schwarzene...|        17|
|      Tadanobu Asano|        16|
|   Samuel L. Jackson|        16|
| Christopher Lambert|        16|
|    Malcolm McDowell|        16|
|    Michael Ironside|        15|
| Tony Chiu-Wai Leung|        15|
|         Johnny Depp|        15|
|        Keanu Reeves|        14|
+--------------------+----------+
only showing top 20 rows

+-------+--------------------+------------------+
|summary|                name|        num_movies|
+-------+--------------------+------------------+
|  count|               34664|             34664|
|   mean|                NULL|1.3511135471959381|
| stddev|                NULL| 1.060193900867523|
|    min|'Baby' Carmen De Rue|                 1|
|    max|          Ünsal Emre|                28|
+-------+--------------------+------------------+

In [7]:
# Add coluna de id
df_actors = df_actors.select(
    F.row_number().over(Window.orderBy(F.lit(1))).alias('id'),
    *df_actors.columns)

df_actors.describe().show()
df_actors.show()

# df_actors.write.parquet(output_path + 'dim_actor')

+-------+-----------------+--------------------+------------------+
|summary|               id|                name|        num_movies|
+-------+-----------------+--------------------+------------------+
|  count|            34664|               34664|             34664|
|   mean|          17332.5|                NULL|1.3511135471959381|
| stddev|10006.77920212093|                NULL| 1.060193900867523|
|    min|                1|'Baby' Carmen De Rue|                 1|
|    max|            34664|          Ünsal Emre|                28|
+-------+-----------------+--------------------+------------------+

+---+------------------+----------+
| id|              name|num_movies|
+---+------------------+----------+
|  1|      Edith Shayne|         1|
|  2| Sandra Milovanoff|         1|
|  3|   Donald Calthrop|         1|
|  4| Arturo de Córdova|         1|
|  5|        Lex Barker|         4|
|  6|  Bradford Dillman|         6|
|  7|        Saul Kahan|         1|
|  8| Geraldine Chaplin|         7|
|  9|   Stafford Morgan|         1|
| 10|       Laura Betti|         2|
| 11|        Ling Chang|         2|
| 12|    Michael Gordon|         1|
| 13|      John Tarrant|         1|
| 14|          Ian Yule|         1|
| 15|      Steven Blade|         1|
| 16|      David Wicker|         1|
| 17|      Anna Rapagna|         1|
| 18|    Vincent Lindon|         4|
| 19|      Stephen Root|         1|
| 20|Jamshid Mashayekhi|         2|
+---+------------------+----------+
only showing top 20 rows

In [8]:
# Criando tabela de datas
df_dates = df_tmdb.select(df_tmdb.release_date.alias('date')) \
    .distinct().orderBy('release_date')
df_dates.show()

+----------+
|      date|
+----------+
|1916-12-24|
|1924-03-18|
|1927-02-06|
|1931-02-12|
|1931-11-21|
|1931-12-24|
|1933-03-15|
|1935-04-20|
|1939-08-15|
|1940-11-13|
|1940-12-28|
|1942-12-05|
|1943-04-09|
|1943-12-24|
|1945-08-13|
|1946-12-20|
|1948-06-15|
|1949-07-27|
|1950-02-22|
|1950-06-27|
+----------+
only showing top 20 rows

In [9]:
df_dates = df_dates.withColumn('year', F.year('date')) \
    .withColumn('month', F.month('date')) \
    .withColumn('day', F.dayofmonth('date')) \
    .withColumn('quarter',
                F.when(F.month('date').isin([1, 2, 3]), 'Q1')
                .when(F.month('date').isin([4, 5, 6]), 'Q2')
                .when(F.month('date').isin([7, 8, 9]), 'Q3')
                .otherwise('Q4'))

# Add coluna de id
df_dates = df_dates.select(
    F.row_number().over(Window.orderBy(F.lit(1))).alias('id'),
    *df_dates.columns)


df_dates.printSchema()
df_dates.describe().show()
df_dates.show()


# df_dates.write.parquet(output_path + 'dim_date')

root
 |-- id: integer (nullable = false)
 |-- date: date (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- quarter: string (nullable = false)

+-------+------------------+------------------+------------------+-----------------+-------+
|summary|                id|              year|             month|              day|quarter|
+-------+------------------+------------------+------------------+-----------------+-------+
|  count|              1232|              1232|              1232|             1232|   1232|
|   mean|             616.5|2000.6103896103896| 6.925324675324675|15.53814935064935|   NULL|
| stddev|355.79207411070865|16.546686701281544|3.3437174949039803|8.619033543302185|   NULL|
|    min|                 1|              1916|                 1|                1|     Q1|
|    max|              1232|              2022|                12|               31|     Q4|
+-------+------------------+------------------+------------------+-----------------+-------+

+---+----------+----+-----+---+-------+
| id|      date|year|month|day|quarter|
+---+----------+----+-----+---+-------+
|  1|1916-12-24|1916|   12| 24|     Q4|
|  2|1924-03-18|1924|    3| 18|     Q1|
|  3|1927-02-06|1927|    2|  6|     Q1|
|  4|1931-02-12|1931|    2| 12|     Q1|
|  5|1931-11-21|1931|   11| 21|     Q4|
|  6|1931-12-24|1931|   12| 24|     Q4|
|  7|1933-03-15|1933|    3| 15|     Q1|
|  8|1935-04-20|1935|    4| 20|     Q2|
|  9|1939-08-15|1939|    8| 15|     Q3|
| 10|1940-11-13|1940|   11| 13|     Q4|
| 11|1940-12-28|1940|   12| 28|     Q4|
| 12|1942-12-05|1942|   12|  5|     Q4|
| 13|1943-04-09|1943|    4|  9|     Q2|
| 14|1943-12-24|1943|   12| 24|     Q4|
| 15|1945-08-13|1945|    8| 13|     Q3|
| 16|1946-12-20|1946|   12| 20|     Q4|
| 17|1948-06-15|1948|    6| 15|     Q2|
| 18|1949-07-27|1949|    7| 27|     Q3|
| 19|1950-02-22|1950|    2| 22|     Q1|
| 20|1950-06-27|1950|    6| 27|     Q2|
+---+----------+----+-----+---+-------+
only showing top 20 rows

In [10]:
# Criando tabela de filmes
df_movies = spark.sql("""
    SELECT DISTINCT 
        id,
        tituloPrincipal AS main_title,
        tituloOriginal AS original_title,
        release_date,
        genero AS genres
    FROM db_geral
""")

df_movies.printSchema()
df_movies.describe().show()
df_movies.show()

# df_movies.write.parquet(output_path + 'dim_movie')

root
 |-- id: string (nullable = true)
 |-- main_title: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- release_date: date (nullable = true)
 |-- genres: string (nullable = true)

+-------+---------+--------------------+--------------------+--------------------+
|summary|       id|          main_title|      original_title|              genres|
+-------+---------+--------------------+--------------------+--------------------+
|  count|     1316|                1316|                1316|                1316|
|   mean|     NULL|              1367.0|              1367.0|                NULL|
| stddev|     NULL|   956.0285909253273|   956.0285909253273|                NULL|
|    min|tt0006333|(T)Raumschiff Sur...|(T)Raumschiff Sur...|Action,Adventure,...|
|    max|tt9844322|            Æon Flux|            Æon Flux|     Sci-Fi,Thriller|
+-------+---------+--------------------+--------------------+--------------------+

+---------+--------------------+--------------------+------------+--------------------+
|       id|          main_title|      original_title|release_date|              genres|
+---------+--------------------+--------------------+------------+--------------------+
|tt1201607|Harry Potter and ...|Harry Potter and ...|  2011-07-12|Adventure,Family,...|
|tt2076822|       Chaos Walking|       Chaos Walking|  2021-02-24|Action,Adventure,...|
|tt4123432|Fantastic Beasts:...|Fantastic Beasts:...|  2022-04-06|Adventure,Family,...|
|tt5968394|       Captive State|       Captive State|  2019-03-15|Action,Horror,Sci-Fi|
|tt7126948|   Wonder Woman 1984|   Wonder Woman 1984|  2020-12-16|Action,Adventure,...|
|tt0093418|Like Father Like Son|Like Father Like Son|  1987-10-02|      Comedy,Fantasy|
|tt0396592|          Fat Albert|          Fat Albert|  2004-12-25|Comedy,Family,Fan...|
|tt3177316|           Honeymoon|           Honeymoon|  2014-09-12|Drama,Fantasy,Horror|
|tt0092115|               Troll|               Troll|  1986-01-17|Comedy,Fantasy,Ho...|
|tt0099700|Gremlins 2: The N...|Gremlins 2: The N...|  1990-06-15|Comedy,Fantasy,Ho...|
|tt0111438|             Timecop|             Timecop|  1994-09-15| Action,Crime,Sci-Fi|
|tt0307109|The Lost Skeleton...|The Lost Skeleton...|  2001-09-12|Comedy,Horror,Sci-Fi|
|tt6133466|     The First Purge|     The First Purge|  2018-07-04|Action,Horror,Sci-Fi|
|tt9198364|Three Thousand Ye...|Three Thousand Ye...|  2022-08-24|Drama,Fantasy,Rom...|
|tt0048127|Godzilla Raids Again|  Gojira no gyakushû|  1955-04-24|Action,Horror,Sci-Fi|
|tt0093624| Night of the Demons| Night of the Demons|  1988-10-14|Comedy,Fantasy,Ho...|
|tt0106598|           Coneheads|           Coneheads|  1993-07-23|       Comedy,Sci-Fi|
|tt2818654|Cemetery of Splendor|    Rak ti Khon Kaen|  2015-09-02|Drama,Fantasy,Mys...|
|tt0089200|            Ghoulies|            Ghoulies|  1985-01-18|Comedy,Fantasy,Ho...|
|tt0120201|   Starship Troopers|   Starship Troopers|  1997-11-07|Action,Adventure,...|
+---------+--------------------+--------------------+------------+--------------------+
only showing top 20 rows

In [11]:
df_movies.filter(F.col('original_title').like('%Star Wars%')).show()

+---------+--------------------+--------------------+------------+--------------------+
|       id|          main_title|      original_title|release_date|              genres|
+---------+--------------------+--------------------+------------+--------------------+
|tt0120915|Star Wars: Episod...|Star Wars: Episod...|  1999-05-19|Action,Adventure,...|
|tt0086190|Star Wars: Episod...|Star Wars: Episod...|  1983-05-25|Action,Adventure,...|
|tt0076759|Star Wars: Episod...|           Star Wars|  1977-05-25|Action,Adventure,...|
|tt2527338|Star Wars: Episod...|Star Wars: Episod...|  2019-12-18|Action,Adventure,...|
|tt0121766|Star Wars: Episod...|Star Wars: Episod...|  2005-05-17|Action,Adventure,...|
|tt0121765|Star Wars: Episod...|Star Wars: Episod...|  2002-05-15|Action,Adventure,...|
|tt3778644|Solo: A Star Wars...|Solo: A Star Wars...|  2018-05-15|Action,Adventure,...|
|tt2488496|Star Wars: Episod...|Star Wars: Episod...|  2015-12-15|Action,Adventure,...|
|tt2527336|Star Wars: Episod...|Star Wars: Episod...|  2017-12-13|Action,Adventure,...|
+---------+--------------------+--------------------+------------+--------------------+

In [12]:
# Criando tabela fato
df_fato = spark.sql("""
    SELECT DISTINCT 
        id AS id_movie,
        nomeArtista,
        release_date,
        id_genre,
        runtime,
        revenue,
        budget,
        personagem AS actor_role,
        popularity,
        notaMedia AS imdb_rating,
        vote_average AS tmdb_rating,
        numeroVotos AS imdb_vote_count,
        vote_count AS tmdb_vote_count
    FROM db_geral
""")

df_fato.printSchema()
df_fato.describe().show()
df_fato.show()

root
 |-- id_movie: string (nullable = true)
 |-- nomeArtista: string (nullable = true)
 |-- release_date: date (nullable = true)
 |-- id_genre: integer (nullable = true)
 |-- runtime: long (nullable = true)
 |-- revenue: long (nullable = true)
 |-- budget: long (nullable = true)
 |-- actor_role: string (nullable = true)
 |-- popularity: double (nullable = true)
 |-- imdb_rating: double (nullable = true)
 |-- tmdb_rating: double (nullable = true)
 |-- imdb_vote_count: integer (nullable = true)
 |-- tmdb_vote_count: long (nullable = true)

+-------+---------+-------------------+------------------+------------------+--------------------+--------------------+------------+------------------+------------------+-----------------+------------------+-----------------+
|summary| id_movie|        nomeArtista|          id_genre|           runtime|             revenue|              budget|  actor_role|        popularity|       imdb_rating|      tmdb_rating|   imdb_vote_count|  tmdb_vote_count|
+-------+---------+-------------------+------------------+------------------+--------------------+--------------------+------------+------------------+------------------+-----------------+------------------+-----------------+
|  count|     5285|               5285|              5285|              5285|                5285|                5285|        5277|              5285|              5285|             5285|              5285|             5285|
|   mean|     NULL|               NULL|1.5048249763481552|107.92734153263955|1.3528434381948912E8|4.5481265934531696E7|         NaN|30.521709366130548| 6.159205298013254|6.277763481551573|150921.10690633868|3275.947398297067|
| stddev|     NULL|               NULL|0.5207879524600575|18.523079794605326|2.6149953490746772E8|5.8424518824292146E7|        NULL| 36.67398791473253|1.1010270360498564|0.875587340492756|  233554.915773288|4852.320494093438|
|    min|tt0006333|'Weird Al' Yankovic|                 1|                66|                   1|                   5| 'Doc' Smith|             1.113|               1.9|              2.6|                31|               31|
|    max|tt9844322|         Özkan Ugur|                 3|               189|          2923706026|           379000000|Ágata Muller|           696.014|               8.8|            8.507|           2339961|            35449|
+-------+---------+-------------------+------------------+------------------+--------------------+--------------------+------------+------------------+------------------+-----------------+------------------+-----------------+

+---------+--------------------+------------+--------+-------+---------+---------+--------------------+----------+-----------+-----------+---------------+---------------+
| id_movie|         nomeArtista|release_date|id_genre|runtime|  revenue|   budget|          actor_role|popularity|imdb_rating|tmdb_rating|imdb_vote_count|tmdb_vote_count|
+---------+--------------------+------------+--------+-------+---------+---------+--------------------+----------+-----------+-----------+---------------+---------------+
|tt0022835|       Fredric March|  1931-12-24|       2|     98|  1300000|   535000|Dr. Henry JekyllM...|    12.799|        7.6|        7.2|          14238|            255|
|tt0035959|       Spencer Tracy|  1943-12-24|       1|    120|  5363000|  2627000|       Pete Sandidge|     7.648|        6.9|        6.5|           2655|             48|
|tt0119535|        Delroy Lindo|  1997-10-24|       1|    103|  4400000| 12000000|             Jackson|    16.579|        6.3|        6.1|          35927|            421|
|tt0119707|         Talisa Soto|  1997-11-11|       1|     95| 51376861| 30000000|              Kitana|    26.328|        3.6|        4.5|          55287|           1126|
|tt0293429|           Lewis Tan|  2021-04-07|       1|    110| 84426031| 20000000|          Cole Young|    48.195|        6.1|        7.1|         173595|           5589|
|tt0084503|          Bob Geldof|  1982-07-14|       1|     95| 22244207| 12000000|                Pink|    19.602|        8.0|        8.0|          81655|           1424|
|tt0089886|          Val Kilmer|  1985-08-07|       2|    106| 12952019|  8000000|        Chris Knight|     15.48|        6.9|        6.7|          35076|            408|
|tt0109838|      William Sadler|  1993-09-11|       2|     80|    29296| 13000000|          Dick Brian|     9.701|        6.3|        6.0|           7452|            145|
|tt0116654|       Marlon Brando|  1996-08-23|       2|     96| 49627779| 40000000|          Dr. Moreau|    19.417|        4.5|        4.9|          33940|            491|
|tt0309832|    Clovis Cornillac|  2003-05-07|       1|     90|   398016|  1500000|              Marcus|     7.193|        6.3|        5.9|           3964|             96|
|tt0397078|   Samaire Armstrong|  2006-05-12|       1|    103| 38159905| 28000000|              Maggie|    17.379|        5.4|        6.1|          57972|           1823|
|tt5397194|        Morgan Allen|  2018-05-03|       2|    100|  1197741| 20000000|             Iri Aug|    18.958|        6.1|        6.0|          45133|           1492|
|tt0021884|          John Boles|  1931-11-21|       2|     71| 12000000|   291000|       Victor Moritz|    17.007|        7.8|        7.5|          74009|           1475|
|tt0057449|       Vincent Price|  1963-01-25|       1|     86|  1499275|   350000|  Dr. Erasmus Craven|     9.629|        6.5|        6.3|          12209|            220|
|tt0088170|        James Doohan|  1984-06-01|       2|    105| 87000000| 18000000|              Scotty|    12.324|        6.6|        6.6|          81467|           1280|
|tt0290095|Jennifer Love Hewitt|  2002-09-27|       2|     98|104400000| 60000000|          Del Blaine|    20.949|        5.4|        5.7|          84846|           1844|
|tt0460791|     Justine Waddell|  2006-09-09|       1|    117|  3669465| 30000000|Nurse EvelynSiste...|    18.396|        7.8|        7.6|         112959|           1211|
|tt3741700|        Vera Farmiga|  2019-05-29|       1|    132|386600138|170000000|    Dr. Emma Russell|   168.236|        6.0|        6.7|         183799|           5762|
|tt4520364|         Rose Leslie|  2016-09-01|       2|     92|  8810591|  8000000|      Dr. Amy Menser|    13.155|        5.8|        5.8|          43694|           1404|
|tt5991410|      Rossy de Palma|  2017-06-16|       1|     91|  7315040|  4600000|               María|      5.81|        5.2|        6.3|           1921|            192|
+---------+--------------------+------------+--------+-------+---------+---------+--------------------+----------+-----------+-----------+---------------+---------------+
only showing top 20 rows

In [13]:
# Add chaves estrangeiras
df_fato = df_fato.join(df_dates,
                       df_fato.release_date == df_dates.date, 'inner')
df_fato = df_fato.withColumnRenamed('id', 'id_date')
df_fato = df_fato.join(df_actors,
                       df_fato.nomeArtista == df_actors.name, 'inner')
df_fato = df_fato.withColumnRenamed('id', 'id_actor')

df_fato.show()
print(df_fato.count())

+---------+--------------------+------------+--------+-------+---------+---------+--------------------+----------+-----------+-----------+---------------+---------------+-------+----------+----+-----+---+-------+--------+--------------------+----------+
| id_movie|         nomeArtista|release_date|id_genre|runtime|  revenue|   budget|          actor_role|popularity|imdb_rating|tmdb_rating|imdb_vote_count|tmdb_vote_count|id_date|      date|year|month|day|quarter|id_actor|                name|num_movies|
+---------+--------------------+------------+--------+-------+---------+---------+--------------------+----------+-----------+-----------+---------------+---------------+-------+----------+----+-----+---+-------+--------+--------------------+----------+
|tt0022835|       Fredric March|  1931-12-24|       2|     98|  1300000|   535000|Dr. Henry JekyllM...|    12.799|        7.6|        7.2|          14238|            255|      6|1931-12-24|1931|   12| 24|     Q4|    6107|       Fredric March|         4|
|tt0035959|       Spencer Tracy|  1943-12-24|       1|    120|  5363000|  2627000|       Pete Sandidge|     7.648|        6.9|        6.5|           2655|             48|     14|1943-12-24|1943|   12| 24|     Q4|    1421|       Spencer Tracy|         2|
|tt0119535|        Delroy Lindo|  1997-10-24|       1|    103|  4400000| 12000000|             Jackson|    16.579|        6.3|        6.1|          35927|            421|    425|1997-10-24|1997|   10| 24|     Q4|    5810|        Delroy Lindo|         4|
|tt0119707|         Talisa Soto|  1997-11-11|       1|     95| 51376861| 30000000|              Kitana|    26.328|        3.6|        4.5|          55287|           1126|    427|1997-11-11|1997|   11| 11|     Q4|    3754|         Talisa Soto|         1|
|tt0293429|           Lewis Tan|  2021-04-07|       1|    110| 84426031| 20000000|          Cole Young|    48.195|        6.1|        7.1|         173595|           5589|   1192|2021-04-07|2021|    4|  7|     Q2|    8091|           Lewis Tan|         1|
|tt0084503|          Bob Geldof|  1982-07-14|       1|     95| 22244207| 12000000|                Pink|    19.602|        8.0|        8.0|          81655|           1424|    136|1982-07-14|1982|    7| 14|     Q3|    1322|          Bob Geldof|         1|
|tt0089886|          Val Kilmer|  1985-08-07|       2|    106| 12952019|  8000000|        Chris Knight|     15.48|        6.9|        6.7|          35076|            408|    187|1985-08-07|1985|    8|  7|     Q3|    2107|          Val Kilmer|         7|
|tt0109838|      William Sadler|  1993-09-11|       2|     80|    29296| 13000000|          Dick Brian|     9.701|        6.3|        6.0|           7452|            145|    340|1993-09-11|1993|    9| 11|     Q3|    7904|      William Sadler|         7|
|tt0116654|       Marlon Brando|  1996-08-23|       2|     96| 49627779| 40000000|          Dr. Moreau|    19.417|        4.5|        4.9|          33940|            491|    403|1996-08-23|1996|    8| 23|     Q3|    1837|       Marlon Brando|         3|
|tt0309832|    Clovis Cornillac|  2003-05-07|       1|     90|   398016|  1500000|              Marcus|     7.193|        6.3|        5.9|           3964|             96|    570|2003-05-07|2003|    5|  7|     Q2|    6183|    Clovis Cornillac|         4|
|tt0397078|   Samaire Armstrong|  2006-05-12|       1|    103| 38159905| 28000000|              Maggie|    17.379|        5.4|        6.1|          57972|           1823|    654|2006-05-12|2006|    5| 12|     Q2|   10519|   Samaire Armstrong|         4|
|tt5397194|        Morgan Allen|  2018-05-03|       2|    100|  1197741| 20000000|             Iri Aug|    18.958|        6.1|        6.0|          45133|           1492|   1110|2018-05-03|2018|    5|  3|     Q2|    1414|        Morgan Allen|         1|
|tt0021884|          John Boles|  1931-11-21|       2|     71| 12000000|   291000|       Victor Moritz|    17.007|        7.8|        7.5|          74009|           1475|      5|1931-11-21|1931|   11| 21|     Q4|    5937|          John Boles|         2|
|tt0057449|       Vincent Price|  1963-01-25|       1|     86|  1499275|   350000|  Dr. Erasmus Craven|     9.629|        6.5|        6.3|          12209|            220|     47|1963-01-25|1963|    1| 25|     Q1|    1529|       Vincent Price|         9|
|tt0088170|        James Doohan|  1984-06-01|       2|    105| 87000000| 18000000|              Scotty|    12.324|        6.6|        6.6|          81467|           1280|    160|1984-06-01|1984|    6|  1|     Q2|    9805|        James Doohan|         6|
|tt0290095|Jennifer Love Hewitt|  2002-09-27|       2|     98|104400000| 60000000|          Del Blaine|    20.949|        5.4|        5.7|          84846|           1844|    558|2002-09-27|2002|    9| 27|     Q3|    5626|Jennifer Love Hewitt|         2|
|tt0460791|     Justine Waddell|  2006-09-09|       1|    117|  3669465| 30000000|Nurse EvelynSiste...|    18.396|        7.8|        7.6|         112959|           1211|    671|2006-09-09|2006|    9|  9|     Q3|    9972|     Justine Waddell|         3|
|tt3741700|        Vera Farmiga|  2019-05-29|       1|    132|386600138|170000000|    Dr. Emma Russell|   168.236|        6.0|        6.7|         183799|           5762|   1147|2019-05-29|2019|    5| 29|     Q2|     986|        Vera Farmiga|         2|
|tt4520364|         Rose Leslie|  2016-09-01|       2|     92|  8810591|  8000000|      Dr. Amy Menser|    13.155|        5.8|        5.8|          43694|           1404|   1050|2016-09-01|2016|    9|  1|     Q3|    3285|         Rose Leslie|         3|
|tt5991410|      Rossy de Palma|  2017-06-16|       1|     91|  7315040|  4600000|               María|      5.81|        5.2|        6.3|           1921|            192|   1078|2017-06-16|2017|    6| 16|     Q2|    3513|      Rossy de Palma|         2|
+---------+--------------------+------------+--------+-------+---------+---------+--------------------+----------+-----------+-----------+---------------+---------------+-------+----------+----+-----+---+-------+--------+--------------------+----------+
only showing top 20 rows

5285

In [14]:
# Eliminando as colunas indesejadas sem alterar os dados de IDs estrangeiros
colunas_indesejadas = ['release_date', 'date', 'year', 'month', 'day',
                       'quarter', 'nomeArtista', 'name', 'num_movies']
df_pandas = df_fato.toPandas()  # DataFrame Pandas é imutável
df_pandas = df_pandas.drop(colunas_indesejadas, axis=1)
df_fato = spark.createDataFrame(df_pandas)

df_pandas.head(5)

,id_movie,id_genre,runtime,revenue,budget,actor_role,popularity,imdb_rating,tmdb_rating,imdb_vote_count,tmdb_vote_count,id_date,id_actor
0,tt0022835,2,98,1300000,535000,Dr. Henry JekyllMr. Hyde,12.799,7.6,7.2,14238,255,6,6107
1,tt0035959,1,120,5363000,2627000,Pete Sandidge,7.648,6.9,6.5,2655,48,14,1421
2,tt0119535,1,103,4400000,12000000,Jackson,16.579,6.3,6.1,35927,421,425,5810
3,tt0119707,1,95,51376861,30000000,Kitana,26.328,3.6,4.5,55287,1126,427,3754
4,tt0293429,1,110,84426031,20000000,Cole Young,48.195,6.1,7.1,173595,5589,1192,8091

In [15]:
# Reordenando as colunas
df_fato = df_fato.select(
    *df_fato.columns[:2], *df_fato.columns[-2:], *df_fato.columns[2:-2])

df_fato.printSchema()
df_fato.describe().show()
df_fato.orderBy('id_movie').show()

# df_fato.write.partitionBy('id_movie').parquet(output_path + 'fact_movie_actor')

root
 |-- id_movie: string (nullable = true)
 |-- id_genre: long (nullable = true)
 |-- id_date: long (nullable = true)
 |-- id_actor: long (nullable = true)
 |-- runtime: long (nullable = true)
 |-- revenue: long (nullable = true)
 |-- budget: long (nullable = true)
 |-- actor_role: string (nullable = true)
 |-- popularity: double (nullable = true)
 |-- imdb_rating: double (nullable = true)
 |-- tmdb_rating: double (nullable = true)
 |-- imdb_vote_count: long (nullable = true)
 |-- tmdb_vote_count: long (nullable = true)

+-------+---------+------------------+-----------------+------------------+------------------+--------------------+--------------------+------------+------------------+------------------+------------------+------------------+------------------+
|summary| id_movie|          id_genre|          id_date|          id_actor|           runtime|             revenue|              budget|  actor_role|        popularity|       imdb_rating|       tmdb_rating|   imdb_vote_count|   tmdb_vote_count|
+-------+---------+------------------+-----------------+------------------+------------------+--------------------+--------------------+------------+------------------+------------------+------------------+------------------+------------------+
|  count|     5285|              5285|             5285|              5285|              5285|                5285|                5285|        5277|              5285|              5285|              5285|              5285|              5285|
|   mean|     NULL|1.5048249763481552|619.3105014191107|12068.582403027436|107.92734153263955|1.3528434381948912E8|4.5481265934531696E7|         NaN|30.521709366130548| 6.159205298013245|6.2777634815515615|150921.10690633868| 3275.947398297067|
| stddev|     NULL|0.5207879524600585|353.7868481000443| 9097.663508383042|  18.5230797946053|2.6149953490746805E8| 5.842451882429217E7|        NULL|36.673987914732486|1.1010270360498544|0.8755873404927558|233554.91577328794|4852.3204940934265|
|    min|tt0006333|                 1|                1|                 6|                66|                   1|                   5| 'Doc' Smith|             1.113|               1.9|               2.6|                31|                31|
|    max|tt9844322|                 3|             1232|             34647|               189|          2923706026|           379000000|Ágata Muller|           696.014|               8.8|             8.507|           2339961|             35449|
+-------+---------+------------------+-----------------+------------------+------------------+--------------------+--------------------+------------+------------------+------------------+------------------+------------------+------------------+

+---------+--------+-------+--------+-------+--------+-------+--------------------+----------+-----------+-----------+---------------+---------------+
| id_movie|id_genre|id_date|id_actor|runtime| revenue| budget|          actor_role|popularity|imdb_rating|tmdb_rating|imdb_vote_count|tmdb_vote_count|
+---------+--------+-------+--------+-------+--------+-------+--------------------+----------+-----------+-----------+---------------+---------------+
|tt0006333|       2|      1|    6161|     99| 8000000| 200000|            Ned Land|     3.563|        6.1|        6.2|           1835|             51|
|tt0006333|       2|      1|   14753|     99| 8000000| 200000|  Aronnax's Daughter|     3.563|        6.1|        6.2|           1835|             51|
|tt0006333|       2|      1|   29191|     99| 8000000| 200000|       Prof. Aronnax|     3.563|        6.1|        6.2|           1835|             51|
|tt0006333|       2|      1|    6265|     99| 8000000| 200000|          Capt. Nemo|     3.563|        6.1|        6.2|           1835|             51|
|tt0015400|       1|      2|   27952|    149| 1490419|1135654| The Thief of Bagdad|    10.033|        7.7|        7.3|           6361|            145|
|tt0015400|       1|      2|   14807|    149| 1490419|1135654|The Thief's Evil ...|    10.033|        7.7|        7.3|           6361|            145|
|tt0015400|       1|      2|   29898|    149| 1490419|1135654|        The Princess|    10.033|        7.7|        7.3|           6361|            145|
|tt0015400|       1|      2|   10920|    149| 1490419|1135654|        The Holy Man|    10.033|        7.7|        7.3|           6361|            145|
|tt0017136|       2|      3|   24289|    149|  650422|1300000|Freder Fredersen ...|    26.037|        8.3|        8.1|         175050|           2568|
|tt0017136|       2|      3|    8114|    149|  650422|1300000|Johann (Joh) Fred...|    26.037|        8.3|        8.1|         175050|           2568|
|tt0017136|       2|      3|    3733|    149|  650422|1300000|Erfinder C.A. Rot...|    26.037|        8.3|        8.1|         175050|           2568|
|tt0017136|       2|      3|    6542|    149|  650422|1300000|MariaMaschinenmen...|    26.037|        8.3|        8.1|         175050|           2568|
|tt0021814|       1|      4|   23071|     74|  700000| 355000|            Renfield|    25.482|        7.4|        7.2|          53792|           1111|
|tt0021814|       1|      4|    6752|     74|  700000| 355000|       Count Dracula|    25.482|        7.4|        7.2|          53792|           1111|
|tt0021814|       1|      4|    5484|     74|  700000| 355000|         John Harker|    25.482|        7.4|        7.2|          53792|           1111|
|tt0021814|       1|      4|   28013|     74|  700000| 355000|                Mina|    25.482|        7.4|        7.2|          53792|           1111|
|tt0021884|       2|      5|    7251|     71|12000000| 291000|  Henry Frankenstein|    17.007|        7.8|        7.5|          74009|           1475|
|tt0021884|       2|      5|    5937|     71|12000000| 291000|       Victor Moritz|    17.007|        7.8|        7.5|          74009|           1475|
|tt0021884|       2|      5|    2861|     71|12000000| 291000|         The Monster|    17.007|        7.8|        7.5|          74009|           1475|
|tt0021884|       2|      5|    2761|     71|12000000| 291000|           Elizabeth|    17.007|        7.8|        7.5|          74009|           1475|
+---------+--------+-------+--------+-------+--------+-------+--------------------+----------+-----------+-----------+---------------+---------------+
only showing top 20 rows

In [16]:
# Criando tabela de gêneros
df_genres = df_fato.select('id_movie', 'id_genre').distinct().groupBy('id_genre').count()
df_genres.show()

+--------+-----+
|id_genre|count|
+--------+-----+
|       1|  666|
|       3|   14|
|       2|  636|
+--------+-----+

In [17]:
df_genres = df_genres.withColumnRenamed('id_genre', 'id')
df_genres = df_genres.withColumnRenamed('count', 'num_movies')
df_genres = df_genres.withColumn('genre', 
                           F.when(F.col('id') == 1, 'Fantasy')
                           .when(F.col('id') == 2, 'Sci-Fi')
                           .when(F.col('id') == 3, 'Fantasy/Sci-Fi'))

df_genres = df_genres.select('id', 'genre', 'num_movies').orderBy('id')

df_genres.show()

# df_genres.write.parquet(output_path + 'dim_genre')

+---+--------------+----------+
| id|         genre|num_movies|
+---+--------------+----------+
|  1|       Fantasy|       666|
|  2|        Sci-Fi|       636|
|  3|Fantasy/Sci-Fi|        14|
+---+--------------+----------+